<h1 class="text-xl lg:text-3xl mb-4 p-4 font-bold text-center bg-primary rounded-2xl text-white py-2">
    Aankomen en Afvallen: De Essentie
</h1>
<img src="cursus_doelgericht.svg" alt="illustratie met vitaminen en mineralen"
    class="lg:w-1/2 mx-auto my-5  order-1 lg:order-1" />
<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <p class="text-base text-justify">
            Met afvallen bedoelen we hier niet alleen een lager getal op de weegschaal. Je kunt namelijk ook vocht
            verliezen of spiermassa kwijtraken, wat eveneens tot gewichtsverlies leidt. Dit geldt natuurlijk ook
            andersom bij aankomen.
        </p>

        <p class="text-base text-justify">
            De rode draad van afvallen en aankomen is vrij simpel, het is vaak de uitvoering dat het lastig maakt.
            Afvallen gebeurt wanneer je minder calorieën
            binnenkrijgt dan je verbruikt. Het lichaam haalt de ontbrekende
            energie dan uit opgeslagen vet. Aankomen gebeurt wanneer je meer calorieën eet dan je verbrandt, waardoor
            het lichaam de overtollige energie opslaat als vet.
        </p>

        <p class="text-base text-justify">
            In theorie kun je afvallen met ongezonde voeding, zolang je maar minder calorieën binnenkrijgt dan je
            verbruikt. Hoewel dit mogelijk ongeloofwaardig klinkt, is het toch echt waar. Stel je maar eens voor dat je
            alleen maar één donut per dag eet en verder niets (dat is uiteraard geen gebalanceerd dieet!). Je krijgt op
            die manier véél te weinig energie binnen, met gewichtsverlies als gevolg.
        </p>
        <app-info-block class="my-4" type="tip"
            content="Wil je afvallen? Kies dan voor voeding die veel volume en vezels bevat, maar weinig calorieën. Denk aan groenten, fruit, peulvruchten en volkoren producten. Deze vullen je maag, geven een verzadigd gevoel én helpen je om minder te eten zonder honger te lijden.">
        </app-info-block>


        <p class="text-base text-justify">
            Zoals je waarschijnlijk intussen wel begrijpt, is het binnenkrijgen van voldoende voedingstoffen belangrijk
            – ook wanneer je af wilt vallen of aankomen. Je wilt natuurlijk wel gezond blijven.
        </p>
        <app-quiz-question [id]="0" [explanation]="true" [question]="afvallenVraag"></app-quiz-question>

        <p class="text-base text-justify">
            Meer informatie over doelgericht eten staat in de cursus <strong>Doelgericht Eten</strong>.
        </p>


    </div>
</div>