<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    1.7 Veelvoorkomende valkuilen bij afvallen
</h1>
<img src="thinking_man.svg" alt="Caloriedichtheid" class=" mx-auto mb-5 order-1 sm:w-1/2" />
<p class="text-base text-justify   mb-6">
    Afvallen is niet altijd eenvoudig — en soms werken we onszelf onbewust tegen. In deze carousel vind je de meest
    voorkomende valkuilen die mensen tegenkomen tijdens het afslankproces. Door ze te herkennen en te begrijpen,
    vergroot je je kans op succes én houd je het op lange termijn vol.
</p>
<div class="divider divider-accent"></div>
<div class="flex flex-col gap-4 mb-10">
    <ol class="list-decimal list-inside space-y-2">
        <!-- Slider -->
        <div data-carousel='{
    "loadingClasses": "opacity-0",
    "dotsItemClasses": "carousel-box"
  }' class="relative w-full">
            <div class="carousel h-auto">
                <div class="carousel-body h-full opacity-0">

                    <!-- Slide 1 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>1. Je focus leggen op het cijfer op de weegschaal</strong><br>
                                Het getal op de weegschaal zegt niet alles. Lees nogmaals les 1.4 'Progreessie meten'
                                voor meer
                                uitleg. Het gewicht kan fluctueren door vocht, hormonen en andere factoren. Het is
                                belangrijk om dat te begrijpen.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-16 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>2. Geen vast eetplan of maaltijdvoorbereiding</strong><br>
                                Zonder plan is de kans op impulsief en ongezond eten groter. Voorbereiding helpt je
                                gezonde keuzes te maken. Beslis bijvoorbeeld van tevoren wat je gaat eten. Zo is de kans
                                dat je ongecontroleerd gaat snacken kleiner.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>3. Te veel vertrouwen op “gezonde” producten</strong><br>
                                Gezonde producten kunnen ook veel calorieën bevatten. Denk aan noten, avocado's en
                                granola. Het is belangrijk om ook hier op de portiegrootte te letten.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 4 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>4. Onrealistische verwachtingen van jezelf stellen</strong><br>
                                Duurzaam afvallen kost tijd. Stel haalbare doelen en wees geduldig met jezelf. Aankomen
                                is ook een traag proces,
                                dus verwacht niet dat je in een enkele weken tijd wel 10 kilo verliest. Dat is niet
                                realistisch. Het is beter om je te richten op een geleidelijke aanpak. Het doel is
                                immers dat de veranderin aan je dieet blijvend zijn.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 5 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>5. Een dieet als tijdelijke oplossing beschouwen</strong><br>
                                Maak gezonde gewoonten onderdeel van je levensstijl om het jojo-effect te voorkomen. Als
                                je terugvalt naar exact je oude eetpatroon, is de kans groot dat je er weer uit gaat
                                zien zoals je was.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 6 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>6. Te veel vertrouwen op cardio voor gewichtsverlies</strong><br>
                                Extra bewegen helpt, maar wat minder goed dan je zou verwachten. Focus op voeding. Zo
                                moeten
                                we
                                bijvoorbeeld een uur wandelen om
                                300 kcal te verbranden wat gelijk staat aan 50gr chips of 2 glazen frisdrank. Best veel
                                moeite voor zo'n terwijl je het er zo snel weer bij kan eten.
                                bewegen is echter wel
                                goed voor je gezondheid.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 7 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>7. Niet genoeg focus op de lange termijn</strong><br>
                                Afvallen is een proces. Richt je op consistentie en houd een lange-termijnvisie aan.
                                Je wilt blijvende aanpassen maken in je eetpatroon. Dit kost tijd en geduld.
                                Doe je dat niet, dan is de kans groot dat je weer terugvalt in je oude gewoonten.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 8 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>8. Te drastische veranderingen aanbrengen</strong><br>
                                Kleine, geleidelijke aanpassingen zijn beter vol te houden dan extreme veranderingen.
                                Begin met het vervangen van producten in je dieet voor calorie-arme alternatieven. Dan
                                kun je toch nog hetgeen eten wat je lekker vindt, maar met minder calorieën.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 9 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>9. Verjaardagen, feesten en uit eten gaan overslaan</strong><br>
                                Je kunt ook sociaal genieten én afvallen. Leer hoe je slimme keuzes maakt zonder alles
                                te vermijden. Bovendien komt afvallen niet aan op een enkele dag. Het gaat om de
                                lange termijn. Als je een keer een feestje hebt, is dat geen probleem. Ga de dagen erna
                                verder
                                met je plan. Het is belangrijk dat je niet in de valkuil valt dat je jezelf gaat
                                straffen.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 10 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>10. Jezelf straffen bij 'fouten'</strong><br>
                                Eén misstap is geen mislukking. Wees mild voor jezelf en ga weer verder met je plan.
                                Nogmaals, het komt niet op een enkele dag aan. Het gaat om de lange termijn.
                            </p>
                        </div>
                    </div>

                    <!-- Slide 11 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>11. Het beloningssysteem</strong><br>
                                Gebruik geen eten als beloning. Beloon jezelf met iets dat je blij maakt en je voortgang
                                ondersteunt. Belonen met voeding kan er voor zorgen dat je minder afvalt dan je zou
                                willen wat juist demotiverend werkt.
                            </p>
                        </div>
                    </div>



                    <!-- Slide 12 -->
                    <div class="carousel-slide">
                        <div class="bg-base-300/60 flex h-full justify-center items-center p-12 lg:p-6">
                            <p class="text-lg sm:text-xl max-w-3xl text-center">
                                <strong>12. Geen focus op het gevoel van verzadiging</strong><br>
                                Eet niet uit gewoonte maar om te voeden. Luister naar je honger- en
                                verzadigingssignalen.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

            <button type="button" class="carousel-prev">
                <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
                    <span class="icon-[tabler--chevron-left] size-5 cursor-pointer rtl:rotate-180 bg-primary"></span>
                </span>
                <span class="sr-only">Previous</span>
            </button>
            <button type="button" class="carousel-next">
                <span class="sr-only">Next</span>
                <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
                    <span class="icon-[tabler--chevron-right] size-5 cursor-pointer rtl:rotate-180"></span>
                </span>
            </button>

            <div class="carousel-pagination absolute bottom-3 end-0 start-0 flex justify-center gap-3"></div>
        </div>
        <!-- End Slider -->

    </ol>
    <div class="divider divider-accent"></div>
    <p class="text-justify text-base">Tot zover de theorie. Vanaf nu wordt het persoonlijker en praktischer.
        Je krijgt heldere, haalbare tips en concrete stappen die jij zelf kunt nemen om je doelen te
        bereiken. Geen vaagheden, maar handvatten die je direct in je dagelijks leven kunt toepassen. Zo
        zorgen we ervoor dat de kennis niet alleen blijft hangen, maar dat jij er echt mee aan de slag kunt.
        Samen maken we van afvallen een proces dat werkt voor jou.

    </p>
</div>