<div class="flex flex-col bg-primary/65 border-4 border-secondary rounded-xl">



    <!-- Formulier voor invoer -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
        <div>
            <label class="text-white">Geslacht</label>
            <select [(ngModel)]="gender" class="input input-bordered select  bg-white text-black rounded-lg">
                <option value="male">Man</option>
                <option value="female">Vrouw</option>
            </select>
        </div>

        <!-- Leeftijd input met increment/decrement -->
        <div>
            <label class="text-white">Leeftijd (jaar)</label>
            <div class="input-group" data-input-number>
                <input class="input pr-0" type="number" [(ngModel)]="age" min="0" aria-label="Leeftijd"
                    data-input-number-input
                    style="appearance: textfield; -webkit-appearance: none; -moz-appearance: textfield;" />
                <span class="input-group-text gap-1">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('age', -1, 0)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('age', 1, 0)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- Gewicht input met increment/decrement -->
        <div>
            <label class="text-white">Gewicht (kg)</label>
            <div class="input-group " data-input-number>
                <input class="input pr-0" type="number" [(ngModel)]="weight" min="0" aria-label="Gewicht"
                    data-input-number-input />
                <span class="input-group-text gap-1">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('weight', -1, 0)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting( 'weight', 1, 0)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- Lengte input met increment/decrement -->
        <div>
            <label class="text-white">Lengte (cm)</label>
            <div class="input-group" data-input-number>
                <input class="input pr-0" type="number" [(ngModel)]="height" min="0" aria-label="Lengte"
                    data-input-number-input />
                <span class="input-group-text gap-1">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('height', -1, 0)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('height', 1, 0)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <!-- Bereken knop -->
    <div
        class="flex flex-col md:flex-row justify-center p-4 border-t-2 bg-primary/40 rounded border-secondary gap-3 mt-4">
        <button class="btn btn-primary w-full sm:w-auto rounded-xl text-white" (click)="calculateBMR()">
            <span class="icon-[solar--calculator-bold] size-6 bg-white"></span> Bereken
        </button>
    </div>
</div>

<!-- Resultaat weergeven -->
<div class="flex p-4 bg-primary/75 rounded-xl mt-4 border-4 border-secondary justify-center" *ngIf="bmr !== null">
    <div class="w-3/4">
        <h1 class="text-2xl text-center text-white font-bold">BMR: {{ bmr }} kcal/dag</h1>
    </div>
</div>

<div class="flex p-4 bg-primary/65 rounded-xl mt-4 border-4 border-secondary justify-center" *ngIf="bmr === null">
    <div class="mx-auto w-3/4">
        <h1 class="text-2xl text-center text-white font-bold">BMR: nog niet berekend!</h1>
    </div>
</div>