<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    1.3 Waarom crashdiëten niet werken
</h1>
<img src="hunger.svg" alt="iemand met honger" class=" mx-auto mb-5 order-1 sm:w-1/2 pt-10" />
<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-col gap-3 order-2 lg:order-1">
                <h1 class="text-2xl font-bold mt-10">Een snel resultaat dat misleidend is</h1>

                <p class="text-base text-justify">
                    Zo snel mogelijk afvallen is een veelgehoorde wens. Wat volgt is een crashdieet waarbij je extreem
                    weinig calorieën binnenkrijgt. Op het eerste gezicht
                    lijkt dat effectief. De weegschaal laat een snelle daling zien en dat voelt als succes. Door de
                    vorrige les
                    weet je inmiddels dat
                    dit geen vetverlies is, maar dat je vooral vocht verliest. Het lijkt dus alsof je veel bereikt,
                    terwijl er in werkelijkheid weinig echte verandering plaatsvindt in je vetmassa.
                </p>
                <div class="divider divider-accent"></div>
                <h2 class="text-xl font-semibold mt-6">Wat gebeurt er in je lichaam bij een crashdieet?</h2>

                <p class="text-base text-justify">
                    Wanneer je sterk vermindert in calorie-inname, eet je vaak ook automatisch minder koolhydraten en
                    zout. Hierdoor raakt je lichaam zijn glycogeenvoorraden kwijt.
                    Glycogeen is de vorm waarin je lichaam koolhydraten opslaat en daarbij wordt veel water
                    vastgehouden. Elke gram glycogeen bindt drie tot vier gram water.
                    Als je minder koolhydraten eet, verlies je aan het begin dus vooral watergewicht. Dat verklaart
                    waarom het getal op de weegschaal in de eerste dagen van een streng dieet zo snel daalt.
                    Zodra je weer normaal gaat eten, worden deze voorraden aangevuld en stijgt je gewicht opnieuw.
                </p>

                <p class="text-base text-justify">
                    Dit snelle gewichtsverlies heeft dus weinig te maken met vetverbranding. Wat je ziet op de
                    weegschaal is voornamelijk een tijdelijke afname van water.
                    Dat betekent niet dat je dieet effectief is. Het kan juist demotiverend werken als het gewicht
                    daarna weer terugkomt, ook al denk je "Ik doe alles goed" en "ik heb toch honger geleden?".
                </p>

                <p class="text-base text-justify">
                    Een ander risico van crashdiëten is dat je lichaam naast vet ook spiermassa begint af te breken. Een
                    te groot calorietekort zorgt ervoor dat je je zwak en futloos gaat voelen.
                    Je ervaart meer honger, beweegt minder en je stofwisseling vertraagt. Daardoor verbruik je
                    uiteindelijk minder energie en wordt afvallen zelfs moeilijker.
                    In plaats van dat je vet verliest, verlies je spiermassa, wat je lichaam zwakker maakt en je
                    resultaten op lange termijn ondermijnt. Bovendien is deze aanpak mentaal uitputtend en moeilijk vol
                    te houden.
                </p>
                <img src="hunger2.svg" alt="Weegschaal" class=" mx-auto mb-5 sm:w-1/2 max-h-96 pt-10" />
                <app-info-block type="fact" class="mt-8"
                    content="Bij een streng dieet kan je lichaam het hongergevoel versterken door het hormoon ghreline te verhogen. Dit hormoon stimuleert je eetlust, waardoor je juist meer trek krijgt. Dat verklaart waarom het zo moeilijk is om langdurig minder te eten zonder honger te hebben!"></app-info-block>
                <div class="divider divider-accent"></div>

                <h2 class="text-xl font-semibold mt-6">Wat werkt wél?</h2>

                <p class="text-base text-justify">
                    Om daadwerkelijk één kilogram lichaamsvet te verliezen, moet je een tekort van ongeveer 7700
                    kilocalorieën opbouwen. Wanneer je helemaal niet eet lukt dat misschien in 3 à 4 dagen. Dat is
                    echter een aanslag op jouw lichaam en dat zul je gaan merken. Je lichaam gaat zich verzetten
                    tegen deze extreme situatie. Je krijgt meer honger, je stofwisseling vertraagt en je hebt minder
                    energie om te bewegen. Dit is een natuurlijk overlevingsmechanisme van je lichaam. Je wordt ook
                    humerig
                    en prikkelbaar, wat het moeilijk maakt om je aan je dieet te houden. Het is dus niet alleen fysiek
                    maar ook mentaal een zware opgave.
                    Een crashdieet levert dus niet het resultaat waar je op hoopt. Het zorgt vaak voor teleurstelling,
                    verlies van motivatie en uiteindelijk het terugkeren naar oude eetpatronen.
                    Vaak komt het verloren gewicht dan ook snel weer terug en mogelijk zelfs meer doordat je intense
                    honger zal ervaren.
                </p>

                <p class="text-base text-justify">
                    Blijvend vetverlies vraagt om een gematigd calorietekort van ongeveer tien tot vijfentwintig procent
                    onder je energiebehoefte. Deze aanpak helpt je om vetmassa kwijt te raken,
                    terwijl je spiermassa zoveel mogelijk behouden blijft. Je lichaam blijft sterker en energieker,
                    waardoor het makkelijker wordt om de gezonde leefstijl vol te houden.
                    Dat is de basis voor blijvend resultaat. In Module 2 gaan wordt duidelijk wat jouw energiebehoefte
                    is.
                </p>

                <p class="text-base text-justify">
                    VoedIQ zegt dit met alle eerlijkheid: zet het idee van “zo snel mogelijk afvallen” uit je hoofd. Dat
                    wil je waarschijnlijk niet horen, maar het is de waarheid. Aankomen of afvallen is een proces dat
                    tijd kost. Het is niet realistisch om te verwachten dat je in een week een aantal kg vet verliest.
                    Het is belangrijk om geduldig te zijn en jezelf de tijd te geven om je doelen te bereiken.
                    Richt je op kleine, haalbare doelen. Focus niet op het einde, maar bijvoorbeeld op het verliezen van
                    de eerste kg. <strong>Als je je doelgewicht wilt behouden, vraagt dat om
                        blijvende veranderingen in je eetpatroon. Als dat je niet lukt, dan is de kans groot dat je weer
                        terugvalt in je oude gewoontes.</strong> Uiteraard gaat VoedIQ je daar bij helpen.
                </p>

                <app-info-block type="fact" class="mt-8"
                    content="Je lichaam verbrandt niet alleen calorieën tijdens het sporten, maar ook als je spieren aan het herstellen zijn. Dat betekent dat krachttraining je stofwisseling een boost geeft, zelfs wanneer je rust. Dus door spieren op te bouwen, verhoog je je dagelijkse calorieverbranding – ideaal voor duurzaam vetverlies!"></app-info-block>
            </div>

        </div>
    </div>

    <div class="divider divider-accent lg:my-10"></div>

    <app-quiz-question [id]="0" [explanation]="true" [question]="crashdieetVraag">
    </app-quiz-question>
</div>