<!-- Banner -->
<div class="bg-primary">
  <div class="flex flex-col lg:flex-row max-w-7xl mx-auto w-full py-7 lg:py-20 ">
    <!-- image -->
    <div class="hidden lg:flex lg:w-1/3  lg:justify-end ">
      <img src="homepage_banner.svg" alt="Banner foto" class="object-contain  h-[250px] lg:h-[350px] xl:h-[400px]" />
    </div>
    <!-- text -->
    <div class="flex flex-col lg:w-2/3  mx-5 xl:mx-20">
      <h1 class="text-3xl text-secondary font-bold md:text-4xl lg:text-6xl"> Welkom bij Voed<span
          class="text-white">IQ</span>!</h1>
      <h2 class="text-white text-xl md:text-3xl lg:text-4xl mt-3">Jouw gids naar een gezonder, sterker en energieker
        leven.
      </h2>
      <p class="text-white mt-8 md:text-xl lg:text-2xl">Of je nu fitter wilt worden, je beter wilt voelen of gewoon
        duidelijkheid zoekt — wij geven je eerlijke informatie, zonder verkooppraatjes. Geen ruis, geen verborgen
        agenda. Alleen wat écht werkt. Zet vandaag de eerste stap naar een vitaler leven.</p>
      <div class="flex flex-col items-center gap-4 mt-4 lg:flex-row lg:mt-6 ">
        <div class=" lg:hidden">
          <img src="homepage_banner.svg" alt="Banner foto" class="object-contain mx-auto h-[180px] md:h-[260px]" />
        </div>
        <button [appScrollTo]="'cursus_aanbod'" [scrollBlock]="'start'"
          class="w-full sm:w-1/2 lg:w-1/2 px-6 py-3 text-lg font-semibold text-white bg-gradient-to-r from-yellow-400 to-orange-500 rounded-full shadow-lg hover:scale-105 transition-all duration-300">
          Bekijk Gratis Cursussen
        </button>
        <button [appScrollTo]="'calculators'" [scrollBlock]="'start'"
          class="w-full sm:w-1/2 lg:w-1/2 px-6 py-3 text-lg font-semibold text-white bg-gradient-to-r from-blue-500 to-indigo-600 rounded-full shadow-lg hover:scale-105 transition-all duration-300">
          Bekijk Health Calculators
        </button>
      </div>
    </div>
  </div>
</div>


<!-- first container-->
<!-- first container-->
<div class="flex flex-col bg-white py-10 px-6 max-w-5xl mx-auto">
  <!-- Titel -->
  <h2 class="text-3xl sm:text-3xl font-bold text-primary mb-6 text-center">
    De Kracht van Voeding: Hoe Ik Mijn Lijf en Leven Veranderde
  </h2>

  <!-- Afbeelding en tekst naast elkaar -->
  <div class="flex flex-col md:flex-row gap-8 items-center">
    <!-- Afbeelding -->
    <div class="w-full md:w-1/3">
      <img src="ik_spiegel.png" alt="Transformatie" class="rounded-2xl shadow-lg w-full h-auto object-cover" />
    </div>

    <!-- Tekst -->
    <div class="w-full md:w-2/3 text-gray-800 text-base leading-relaxed text-justify">
      Als tiener had ik overgewicht, sportte ik niet en bracht ik mijn dagen liever gamend door met een suikerwafel in
      de
      hand. Op mijn achttiende doorstond ik de zwaarste fysieke en mentale keuringen van Defensie, zonder uiteindelijk
      militair te worden. In de jaren daarna behaalde ik prestaties zoals 150 kilo bankdrukken, 200 kilo squatten, 235
      kilo deadliften en vijf kilometer rennen in 21 minuten. Na ruim tien jaar ervaring kan ik zeggen dat ik de meest
      efficiënte en ontspannen manier heb gevonden om mijn lichaamsgewicht onder controle te houden. Niet dankzij
      geheime
      trucjes of wondermiddelen, maar door de juiste kennis én het daadwerkelijk toepassen ervan.
      Met ontspannen bedoel ik dat ik mezelf geen strikte regels opleg en niet uitsluitend vasthoud aan gezonde voeding.
      Er is ruimte voor flexibiliteit en genieten, terwijl ik toch de balans bewaar. Ik deel mijn kennis graag met jou
      zonder winstoogmerk, omdat ik weet hoeveel het je leven kan veranderen. Alles begint bij voeding, het is het
      fundament
      van elk fysiek resultaat.
    </div>
  </div>

  <!-- Lees meer knop -->
  <div class="mt-6 flex justify-center">
    <button
      class="btn bg-primary text-white px-6 py-2 rounded-full hover:bg-secondary/80 transition-all duration-300 shadow-md"
      [routerLink]="'/over-ons'">
      Lees mijn volledige verhaal
    </button>
  </div>
</div>





<!-- Feitjes container -->
<div class="bg-primary">

  <div class="flex flex-col bg-primary py-10  max-w-4xl mx-auto">
    <div id="auto-play" data-carousel='{ "loadingClasses": "opacity-0", "isAutoPlay": true, "speed": 6000 }'
      class="relative w-full">
      <div class="carousel h-28">
        <div class="carousel-body opacity-0 h-full">
          <!-- Slide 1 -->
          <div class="carousel-slide px-10" *ngFor="let fact of facts; let i = index" [attr.data-carousel-item]="i">
            <div class="bg-base-300/60 flex h-full justify-center py-12 px-6 lg:px-12 ">
              <span class="self-center text-center text-white font-bold md:text-xl lg:text-xl">{{ fact
                }}</span>

            </div>
          </div>
        </div>
      </div>

      <!-- Previous Slide -->
      <button type="button" class="carousel-prev">
        <span class="size-5 lg:size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
          <span class="icon-[tabler--chevron-left] size-5 cursor-pointer rtl:rotate-180"></span>
        </span>
        <span class="sr-only">Vorige</span>
      </button>
      <!-- Next Slide -->
      <button type="button" class="carousel-next ">
        <span class="sr-only">Volgende</span>
        <span class="size-5  lg:size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
          <span class="icon-[tabler--chevron-right] size-5 cursor-pointer rtl:rotate-180"></span>
        </span>
      </button>
    </div>
  </div>
</div>

<!-- cursus aanbod container -->
<div class="bg-white pb-24" id="cursus_aanbod">
  <h1 class="text-3xl sm:text-4xl font-bold text-primary text-center pt-25 ">Cursus Aanbod</h1>
  <div class="flex flex-wrap justify-center gap-7 py-10 px-6 max-w-6xl mx-auto">
    <!-- Card 1 -->
    <app-course-card title="Basiskennis" description="De cursus Basiskennis Voeding biedt inzicht in hoe het lichaam voedingsstoffen gebruikt, 
    het belang van een gebalanceerd dieet, en hoe je voedingsinformatie op etiketten kunt begrijpen en toepassen 
    voor een gezondere levensstijl." imageUrl="cursus_basiskennis.svg" linkUrl="/cursus/basiskennis/introductie/les1"
      buttonText="Start!"></app-course-card>

    <app-course-card title="Doelgericht Eten" description="In deze cursus leer je hoe je voeding kunt afstemmen op je doelen, zoals afvallen of aankomen, 
    met praktische tips voor een effectief en duurzaam resultaat." imageUrl="cursus_doelgericht.svg"
      buttonText="Start!" (click)='noContentAlert();'></app-course-card>

    <app-course-card title="Gezond Eten" description="Deze cursus biedt inzicht in wat een gezond dieet is, met aandacht voor gebalanceerde voeding, 
    het belang van verschillende voedingsgroepen en hoe je een gezonde eetstijl kunt behouden."
      imageUrl="cursus_gezond.svg" buttonText="Start!" (click)='noContentAlert();'></app-course-card>

  </div>

</div>


<!-- Health Calculators container -->
<div class="bg-primary pb-24" id="calculators">
  <h1 class="text-3xl sm:text-4xl font-bold text-white text-center pt-25">Health Calculators</h1>
  <div class="flex flex-wrap justify-center gap-7 py-10 px-6 max-w-6xl mx-auto">

    <app-course-card title="Energiebehoefte"
      description="Deze calculator berekent de hoeveelheid calorieën die je lichaam per dag nodig heeft op basis van je rustmetabolisme en activiteitsniveau."
      imageUrl="calculator_1.svg" linkUrl="/energy-calculator" buttonText="Bereken!">
    </app-course-card>

    <app-course-card title="Macro- en Micronutriënten"
      description="Deze calculator berekent de optimale verdeling van eiwitten, koolhydraten, vetten, vitamines en mineralen op basis van de Nederlandse voedingsrichtlijnen"
      imageUrl="calculator_3.svg" linkUrl="/nutri-calculator" buttonText="Bereken!">
    </app-course-card>

    <app-course-card title="Doelgewicht Tijdsschatting"
      description="Deze calculator schat de tijd die nodig is om je doelgewicht te bereiken op basis van je huidige gewicht, doelgewicht en calorie-inname."
      imageUrl="calculator_6.svg" linkUrl="/doelgewicht-calculator" buttonText="Bereken!">
    </app-course-card>
  </div>
</div>