<h1 class="text-xl lg:text-3xl mb-4 p-4 font-bold text-center bg-primary rounded-2xl text-white py-2">
    Je hebt de proefcursus afgerond!
</h1>
<img src="cursus_basiskennis.svg" alt="foto met boeken" class="lg:w-1/2 mx-auto my-5 px-5 order-1 lg:order-1 " />
<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">

        <p class="text-base text-justify">
            Gefeliciteerd! Je hebt de proefcursus helemaal doorlopen. We hopen dat je enthousiast bent geworden over
            VoedIQ. Ga gerust in gesprek met Quincy om je vragen te stellen!
        </p>



        <!-- Google Form Link -->

        <div class="divider divider-accent"></div>
        <!-- Terug naar Hoofdpagina -->
        <div class="text-center">
            <button class="px-6 py-2 bg-primary text-white rounded-lg font-semibold" [routerLink]="'/home'">
                Bezoek de website!
            </button>
        </div>
    </div>
</div>