<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    1.6 Caloriedichtheid: Meer volume, minder calorieën
</h1>
<img src="caloric_density.svg" alt="Caloriedichtheid" class=" mx-auto mb-5 order-1 sm:w-1/2" />
<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <p class="text-base text-justify">
            Caloriedichtheid betekent hoeveel calorieën een voedingsmiddel bevat per gram. Sommige voedingsmiddelen
            leveren veel calorieën in een klein volume, terwijl andere voedingsmiddelen weinig calorieën bevatten maar
            veel ruimte in je maag innemen. Dit speelt een belangrijke rol in hoe verzadigd je je voelt, wat een
            cruciaal aspect is bij het afvallen. Het gevoel van honger is namelijk een van de grootste obstakels voor
            succesvol gewichtsverlies, en hier kun je slim op inspelen.
        </p>
        <p class="text-base text-justify">
            Je lichaam registreert verzadiging deels op basis van volume – het merkt of je maag gevuld is, niet direct
            hoeveel energie je binnenkrijgt. Voeding met een lagere caloriedichtheid neemt dus meer ruimte in en vult je
            sneller (omdat je er in principe meer van mag eten), terwijl je relatief minder calorieën consumeert. Dit
            maakt het makkelijker om een energietekort te creëren zonder constant honger te ervaren.
        </p>
        <div class="divider divider-accent"></div>
        <h2 class="font-semibold mt-4">Voeding met lage tot gematigde caloriedichtheid</h2>
        <p class="text-base text-justify"> Voedingsmiddelen met een lage tot gematigde caloriedichtheid kunnen een grote
            hulp zijn bij het afvallen.
            Aardappelen, peulvruchten en volkoren granen zijn hier goede voorbeelden van. Ze leveren weliswaar energie,
            maar
            bevatten ook veel vezels en volume, waardoor ze goed verzadigen en je minder snel honger hebt na de
            maaltijd.
            Groenten en fruit zijn ideaal vanwege hun hoge gehalte aan water en vezels. Ze maken je maaltijd groter en
            vullender, zonder dat je er veel calorieën mee binnenkrijgt.


        </p>
        <p class="text-base text-justify">
            Magere eiwitbronnen zoals kipfilet, eieren, magere kwark of tofu zorgen voor een langdurig vol gevoel en
            helpen
            je spiermassa te behouden tijdens een calorietekort. Dat is belangrijk, omdat spiermassa bijdraagt aan een
            gezond metabolisme. Ook warme, vochtige gerechten zoals soepen en stoofpotten kunnen helpen bij
            gewichtsverlies.
            Doordat ze veel vocht bevatten, vullen ze sneller dan droge producten, wat kan helpen om minder te eten
            zonder
            in te leveren op verzadiging. Ideaal dus om een soep voor je hoofdgerecht te eten.
        </p>
        <p class="text-base text-justify">
            Door slimme keuzes te maken binnen deze categorieën kun je maaltijden samenstellen die vullend zijn én
            ondersteunend aan je doelen — zonder dat je je constant hongerig hoeft te voelen.</p>

        <app-info-block type="tip" class="mt-8"
            content="Combineer voeding met een lage caloriedichtheid in je maaltijd. Je hoeft niet plots wortels te gaan eten, maar mogelijk vind je het juist lekker om sla en tomaat toe te voegen aan je gebakken ei op een wrap!"></app-info-block>
        <div class="divider divider-accent"></div>

        <h2 class="font-semibold mt-4">Caloriedichte voedingsmiddelen: Bewuste keuzes maken</h2>
        <p class="text-base text-justify">
            Aan de andere kant zijn er voedingsmiddelen die veel calorieën bevatten in een klein volume, zoals olie,
            noten, kaas, gebak en snacks. Deze kunnen zeker een plek hebben in een gebalanceerd dieet, maar als je wilt
            afvallen, is het belangrijk om je porties van deze voedingsmiddelen in de gaten te houden.
        </p>
        <p class="text-base text-justify">
            Met het doel om af te vallen gaat het dus niet om het kiezen tussen “gezond” en “ongezond”, maar om hoe
            verzadigend een maaltijd is per
            calorie. Als je ervoor zorgt dat je maaltijden goed gevuld zijn met eiwitten, vezels en vocht, kun je het
            energietekort beter beheren en het afvallen op de lange termijn makkelijker volhouden zonder dat je jezelf
            uitgehongerd voelt.
        </p>

        <p class="text-base text-justify">
            Wat meer praktische informatie volgt in module 2.
        </p>

        <app-info-block type="tip" class="mt-8"
            content="Een portie aardbeienvla bevat zo’n 150 kcal en vult weinig. Kies je in plaats daarvan voor magere kwark met wat blauwe bessen en een scheutje suikervrije ranja, dan krijg je meer eiwitten, minder calorieën én blijf je langer verzadigd. Kleine slimme keuzes zoals deze maken op lange termijn een groot verschil."></app-info-block>
    </div>

    <div class="divider divider-accent lg:my-10"></div>

    <app-quiz-question [id]="0" [explanation]="true" [question]="caloriedichtheidVraag">
    </app-quiz-question>
</div>