<div class="max-w-3xl mx-auto px-4 py-10 bg-primary/20 p-8 rounded-3xl shadow-lg my-10">
    <h1 class="text-3xl font-bold text-center text-primary mb-6">
        Wij waarderen jouw mening!
    </h1>
    <img src="thinking_man.svg" alt="Feedback" class="mx-auto mb-5 order-1 sm:w-1/2 pt-10" />
    <p class="text-base mb-6 text-justify">
        VoedIQ is nog volop in ontwikkeling. We willen de site uitbreiden met nog meer handige informatie, tips en tools
        die jou helpen je doelen te behalen. Jouw input is daarbij super waardevol. Met deze korte enquête
        horen we graag wat jij belangrijk vindt, zodat we nóg beter kunnen inspelen op jouw wensen en behoeften.
    </p>

    <p class="text-xl font-bold my-10">Let op: De enquete heeft meerdere secties waar naar toe genavigeerd kan worden
        met de volgende
        knop onderaan de huidige sectie.</p>

    <div class="w-full">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLScZDgqntC8Dx-5UHN1yXcMK3fNT62qENrvFcmuPlUt0ViUGZw/viewform?embedded=true"
            width="100%" height="1853" frameborder="0" marginheight="0" marginwidth="0"
            class="border rounded-lg shadow-md">
            Laden…
        </iframe>
    </div>
</div>