<!-- Hoofdcontainer -->
<div class="flex flex-col bg-primary/80 rounded-xl">
    <!-- TDEE Input -->
    <div class="p-4  flex flex-col items-center">
        <label class="label label-text text-white" for="tdee-input">
            Voer je dagelijkse energiebehoefte (TDEE) in (kcal):
        </label>
        <div class="input-group max-w-sm" data-input-number>
            <input class="input w-3/4" id="tdee-input" type="number" [(ngModel)]="tdee"
                (change)="resultsCalculated=false" />
            <span class="input-group-text gap-3">
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Decrement button" (pointerdown)="startAdjusting('tdee', -50, 0)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                </button>
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Increment button" (pointerdown)="startAdjusting('tdee', 50, 0)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
    </div>

    <!-- Nieuwe optie: Overgewicht aangeven -->
    <div class="px-4 py-4 flex flex-col items-center">
        <label class="label label-text text-white">
            Heb je overgewicht?
        </label>
        <div class="flex gap-4">
            <label class="text-white">
                <input type="radio" name="radio-1" class="radio radio-primary" [(ngModel)]="hasOverweight"
                    [value]="false" />
                Nee
            </label>
            <label class="text-white">
                <input type="radio" name="radio-2" class="radio radio-primary" [(ngModel)]="hasOverweight"
                    [value]="true" /> Ja
            </label>
        </div>
    </div>

    <!-- Bereken knop -->
    <div class="flex flex-col md:flex-row justify-center p-4  bg-primary rounded-xl  gap-3 mt-4">
        <button type="button" class="btn bg-warning/80 text-white btn-lg"
            (click)="calculate(); scrollToElement('result')">
            <span class="icon-[solar--calculator-bold] size-6 flex-shrink-0 bg-white"></span>Bereken
        </button>
    </div>
</div>
<!-- Resultaten container als er geen resultaten zijn -->
<div *ngIf="!resultsCalculated" class="flex p-4 mt-4 bg-primary rounded-xl  justify-center">
    <div class="mx-auto">
        <h1 class="text-2xl text-center text-white font-bold">Resultaat nog niet berekend!</h1>
    </div>
</div>

<!-- Resultaten container alleen zichtbaar als berekend -->
<div id="result" *ngIf="resultsCalculated" class="flex   mt-4    ">
    <div class="w-full">

        <div class="mt-4 p-4 bg-primary rounded-xl   lg:w-1/2 mx-auto">

            <h1 class="text-2xl text-center text-white font-bold">Aanbevolen hoeveelheden</h1>

            <!-- Tabel voor resultaten -->
            <table class="table-auto  text-white  mx-auto">
                <thead>
                    <tr>
                        <th class=" text-left w-1/3 pr-2 text-secondary">Macronutriënt</th>
                        <th class="  text-left w-1/3 text-secondary">Min.</th>
                        <th class="  text-left w-1/3 text-secondary">Max.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-t ">
                        <td class=" text-secondary"><strong>Eiwitten</strong></td>
                        <td class=" ">{{ proteinRange[0] }} g</td>
                        <td class=" ">{{ proteinRange[1] }} g</td>
                    </tr>
                    <tr class="border-t ">
                        <td class="text-secondary"><strong>Totaal vet</strong></td>
                        <td class="">{{ fatRange[0] }} g</td>
                        <td class="">{{ fatRange[1] }} g</td>
                    </tr>
                    <tr class="border-t ">
                        <td class="text-secondary"><strong>Verzadigd vet</strong></td>
                        <td class="">n.v.t.</td>
                        <td class="">{{ saturatedFatRange[1] }} g</td>
                    </tr>
                    <tr class="border-t ">
                        <td class="text-secondary"><strong>Koolhydraten</strong></td>
                        <td class="">{{ carbRange[0] }} g</td>
                        <td class="">{{ carbRange[1] }} g</td>
                    </tr>
                    <!-- Extra rij voor vezels -->
                    <tr class="border-t ">
                        <td class="text-secondary"><strong>Vezels</strong></td>
                        <td class="">30 g</td>
                        <td class="">n.v.t.</td>
                    </tr>
                </tbody>
            </table>
            <div class="flex flex-col md:w-1/4 mx-auto mt-2 "> <button (click)="copyToClipboard()"
                    class="ml-2 p-2 btn bg-blue-400 hover:bg-blue-800 text-white rounded-lg mt-2 ">
                    <span *ngIf="!copied" class="icon-[solar--clipboard-linear] size-6"></span>
                    <span *ngIf="copied" class="icon-[solar--check-square-bold] size-6 bg-secondary"></span>
                    <span *ngIf="!copied">Kopieer</span>
                    <span *ngIf="copied">Hebbes!</span>
                </button></div>
        </div>

    </div>



</div>