<div class="max-w-5xl mx-auto px-4 space-y-6 text-justify my-20">
    <p class="text-4xl font-bold text-primary text-center">Hallo, lees mijn verhaal!</p>
    <img alt="ik poserend" class="border-4 border-primary" src="ik_rots.webp" />
    <p>Met trots presenteer ik jouw mijn website. Graag deel ik ook met jou mijn verhaal. Mogelijk motiveert het je om
        ook aan de slag te gaan. In het verhaal lees je hoe mijn relatie met voeding en sport is ontstaan. Met nadruk op
        de waarde die het voor mij had. </p>
    <h2 class="text-primary text-2xl font-bold">Mijn begin: overgewicht, gamen en suikerwafels</h2>
    <p>In mijn basisschooljaren was ik altijd wat zwaarder dan de meeste van mijn leeftijdsgenoten. Ik, Quincy,
        gebruikte vaak het excuus dat ik “gewoon zware botten” had, iets wat ik oprecht geloofde. Natuurlijk was dat
        niet waar. Het lag simpelweg aan mijn leefstijl. Ik bracht uren gamend door, vaak met een suikerwafel of een zak
        chips binnen handbereik. Mijn voeding bestond uit snelle, lege calorieën: chocola, frisdrank, snacks.
        Allesbehalve voedzaam.</p>

    <p>Die combinatie van slechte eetgewoonten en een zittend bestaan had z’n gevolgen. Ik hield fysieke activiteiten
        nooit lang vol. Zelfs buiten een beetje voetballen was voor mij al een uitdaging. Ik deed het wel, maar daarna
        greep ik vaak weer naar niet-voedzaam eten. Chips, koekjes, nog een drankje erbij met te veel suiker. Zo ging
        het dag na dag.</p>
    <p class="pb-10">Toch was het fysieke aspect op dat moment niet het ergste. Wat me veel meer raakte, was hoe anderen
        naar me
        keken. Ik werd vaak dik genoemd, door klasgenoten, familie, en zelfs door de jeugd-GGD. Het was pijnlijk. Als
        kind begrijp je nog niet hoe je lichaam werkt. Je weet niet wat goede voeding precies inhoudt, of hoe je daar
        iets mee kunt. In mijn beleving kreeg ik constant kritiek op iets waar ik geen controle over had. Het voelde
        alsof ik werd aangesproken op iets dat ik niet kon veranderen.</p>
    <app-info-block type="fact"
        content="Geinig feitje over mij: ik droeg alleen maar trainingsbroeken van Donay tot mijn dertiende. Het zoeken van
            passende spijkerbroeken voor mijn gewicht en lengte was een frustrerende en confronterende ervaring waardoor ik enkel joggingsbroeken kocht" />


    <div class="divider divider-accent"></div>

    <h2 class="text-primary text-2xl font-bold">Het keerpunt: van schaamte naar vastberadenheid</h2>
    <p>In de brugklas was ik nog steeds aan de zware kant. Dat was het moment waarop ik me voor het eerst echt begon te
        schamen voor mijn gewicht. Mijn uiterlijk — een trainingsbroek, vettig lang haar en de typische gamerlook — gaf
        me geen trots gevoel. Maar ik wist ook niet goed hoe ik het moest veranderen, noch had ik zin om het te
        veranderen.</p>
    <p>Die fase sleepte zich voort tot in het derde schooljaar. Toch begon er toen iets te verschuiven. In dat jaar werd
        er op school meer aandacht besteed aan je toekomst. Wat wilde je later worden? Die vraag zette me aan het
        denken. Ik was klaar met het beeld dat mensen van me hadden. Ik wilde laten zien wat ik waard was, dat ik meer
        kon dan mensen dachten. Ik wilde respect. Er moest naar me opgekeken worden.</p>
    <p>Ik besloot dat ik militair wilde worden.</p>
    <p> Een grote stap, zeker gezien mijn toenmalige levensstijl. Al had ik in
        mijn favoriete games allang de rol van soldaat aangenomen, in de echte wereld was ik daar nog ver van
        verwijderd. Mensen lachten soms als ik het vertelde. “Maar dan moet je wel heel fit zijn, hè?” Dat was ik
        duidelijk niet. Tijdens de 12-minutenloop op school haalde ik een 5,5 en dat was niet omdat ik ver genoeg liep,
        maar omdat “ik het probeerde” zoals de docent dat zei.</p>
    <p>Op mijn veertiende wilde ik beginnen met krachttraining, maar ik was volgens hun nog te jong. Dat frustreerde me
        enorm. Toch besloot ik me te richten op wat wél kon. Ik begon met leren over
        voeding, ging vaker wandelen en hardlopen. En ik nam afscheid van mijn oude imago. De gamerlook verdween; begin
        van het vierde schooljaar was ik haast niet meer te herkennen. Niet alleen omdat ik flink was afgevallen, maar
        ook omdat ik mijn lange haar had afgeschoren — een bewuste keuze. Ook was ik een stuk zelfverzekerder.</p>
    <p>Hier onder foto's van ik toen ik 14 (links) en 15 (rechts) jaar was. Gebruikt de slider om ze te zien!</p>
    <div class="diff aspect-video">
        <div class="diff-item-1">
            <img alt="ik met kort haar" src="ik_kort_haar.webp" />
        </div>
        <div class="diff-item-2">
            <img alt="ik met lang haar" src="ik_lang_haar.webp " />
        </div>
        <div class="diff-resizer"></div>
    </div>
    <p class="pb-10">Op mijn vijftiende mocht ik eindelijk onder toezicht trainen in de sportschool. Dat zag ik als een
        mooie kans om
        ze te misleiden. Ik meldde me aan met mijn ouders en toen ik eenmaal een toegangspasje had, ging ik vervolgens
        gewoon verder zonder ze. Probleem opgelost. Ik wilde gewoon beginnen. Ik wilde geen tijd meer verliezen. Hoe
        eerder ik kon beginnen, hoe sneller de resultaten zouden komen.</p>
    <app-info-block type="fact" content="Feitje: mijn passie voor kracht kwam voort uit een moment in mijn basisschooltijd waarin ik iemand vloeiend een
        tak in een boom zag grijpen, zichzelf omhoogtrok en drie meter hoger stond. Het kostte hem totaal geen moeite.
        Ik kon mezelf toen nog niet eens optrekken."></app-info-block>
    <p>Toen ik voor het eerst in de sportschool stond, voelde het alsof ik in een compleet nieuwe wereld terechtkwam.
        Net de fantasie wereld Narnia — maar dan geen pratende dieren, wel beesten van mensen die kilo's wegdrukken
        alsof het niks is.
        Alles was vaag en overweldigend. Deed ik de oefening wel goed? Hoeveel oefeningen moest ik doen? Hoe vaak?
        Hoeveel herhalingen? Maar nog belangrijker: wat moest ik eten? Het voelde als één grote wirwar van vragen en ik
        had daar geen hulp bij.</p>
    <p class="pb-10">Ik heb dan ook de verschillende fases gehad. In het begin is je motoriek en kracht nog niet
        symmetrisch, waardoor
        je als een pasgeboren hertje de meest rare bewegingen maakt. Daarna kwam de ego-liftfase waarbij ik zonder oog
        voor techniek ging opzoeken hoe sterk ik eigenlijk was. En tot slot de fase waarin ik begreep dat een spier
        trainen iets anders is dan simpelweg gewicht van A naar B verplaatsen.</p>

    <app-info-block type="story"
        content="Verhaaltje: ik weet nog goed dat ik dumbels van 14kg pakte om de borstspier te trainen. Dat was voor mij destijds mijn record gewicht. Ik verzuurde zo hard dat ik mijn balans verloor en van het bankje afviel en lang uit de grond lag. Ieder zo zijn eigen beschamende gym moment. gelukkig heb ik daar zelf altijd om kunnen lachen."></app-info-block>

    <p>Niet weten of je het goed doet is frustrerend, vooral omdat er zoveel verschillende informatie te vinden is. Maar
        met een doel voor ogen liet ik me daar niet door tegenhouden. Als ik het nog niet wist, dan zou ik het
        uitzoeken. Alles. Tot in detail. Ik ben dan ook een tikkeltje perfectionistisch.</p>

    <div class="divider divider-accent"></div>

    <h2 class="text-primary text-2xl font-bold">Eindelijke fysieke vrijheid</h2>
    <p>In de bovenbouw stond ik ineens bekend als de sportieve jongen. Een compleet contrast met hoe ik in de onderbouw
        was. Fysiek begon ik echt te presteren: ik haalde tienen voor de 12-minutenloop en liep vijf kilometer in 21
        minuten. Ik stond er zelf van te kijken hoeveel ik qua conditie had bereikt in één jaar. Mentaal voelde ik me
        ook veel beter in mijn vel. Natuurlijk at ik in tussenuren nog wel eens een frikandelbroodje (of twee) of dronk
        een
        energiedrankje, net als iedere andere scholier, maar inmiddels wist ik dat een gezond dieet niet betekent dat je
        alleen maar gezonde producten hoeft te eten. In de cursussen op deze website leg ik uit waarom balans
        belangrijker is dan perfectie.</p>
    <p>Op mijn achttiende begon ik met het sollicitatieproces bij Defensie. Ik doorliep de mentale, fysieke en medische
        keuringen en slaagde op het hoogste fitheidsniveau. Na het behalen van mijn vwo-diploma werd ik toegelaten tot
        de KMA. Toch kwam daar een belangrijk inzicht: het plezier zat niet in het behalen van het doel, maar in de weg
        ernaartoe. De kennis die ik had opgedaan, de progressie die ik voelde, de discipline die ik had ontwikkeld — dát
        gaf me voldoening. Het was zwaar, het kostte moeite, maar juist daarom voelde het waardevol. Als het makkelijk
        was, zou iedereen het doen.</p>
    <p>Ik was al vrij snel gestopt met de officiersopleiding bij de KMA. Na mijn achttiende ben ik me nog dieper gaan
        verdiepen in voeding en krachttraining. Het zijn geen interesses meer, het zijn passies geworden. Misschien
        zelfs obsessies. Ik volgde een thuisstudie voeding, die me moeiteloos afging dankzij de ervaring die ik al had
        opgebouwd. Ik begon met powerliften en behaalde prestaties waar ik trots op ben: 150 kg bankdrukken, 200 kg
        squatten, 235 kg deadliften en 100 kg overhead pressen. Om dat soort doelen te bereiken moet je voeding en
        herstel serieus nemen. Elk detail telt.</p>
    <p>Hoewel sport een grote rol heeft gespeeld in mijn leven, wil ik je niet vertellen dat jij ook per se naar de
        sportschool moet. Het draait vooral om het aanpassen van je leefstijl op een manier die past bij de persoon die
        jij wilt worden. Voeding speelt daarin een grote rol — het beïnvloedt niet alleen je gezondheid, maar ook je
        energie, je stemming en hoeveel plezier je uit het leven haalt. Wat echt telt, is dat je een helder doel hebt.
        Je kunt er bijvoorbeeld voor kiezen om af te vallen, net als ik ooit deed. Maar als je geen duidelijke reden
        hebt waarom je dat wilt, is de kans groot dat je motivatie snel verdwijnt.</p>

    <p>Hieronder hoe ik er nu uit zie op 28 jarige leeftijd (2025). </p>
    <div class="diff aspect-video">
        <div class="diff-item-1">
            <img alt="ik met overhead press" src="ik_press.webp " />

        </div>
        <div class="diff-item-2">
            <img alt="ik poserend" src="ik_proud.webp" />
        </div>
        <div class="diff-resizer"></div>
    </div>

    <div class="divider divider-accent"></div>

    <h2 class="text-primary text-2xl font-bold">Wat voeding mij gaf</h2>
    <p>Mijn transformatie begon niet alleen bij voeding, maar bij een keuze. Een keuze die voortkwam uit wilskracht,
        discipline en de drang om mijn leven om te gooien. Maar voeding was wel het middel dat die keuze tastbaar
        maakte. Het gaf richting, structuur en resultaat. Door grip te krijgen op wat ik at, kreeg ik grip op mijn
        energie, herstel en uiteindelijk mijn fysieke prestaties. Voeding was de schakel tussen inzet en vooruitgang.
    </p>
    <p>Het bracht me van overgewicht naar kracht, van onzekerheid naar zelfvertrouwen. Het opende een wereld waarin ik
        mijn potentieel kon benutten — niet door alles perfect te doen, maar door consistent de juiste keuzes te maken.
        Daarom geloof ik dat voeding meer is dan alleen brandstof. Het is een fundament. Een tool die jou, net als mij,
        in staat kan stellen je doelen te bereiken en te leven zoals je dat écht wilt.</p>
    <div class="divider divider-accent"></div>

    <h2 class="text-primary text-2xl font-bold">Waarom deze site bestaat</h2>
    <p>Door de jaren heen viel het me steeds vaker op hoeveel mensen worstelen met afvallen, aankomen, of gewoon snappen
        wat “gezond” nou écht inhoudt. En hoe moeilijk het is om betrouwbare informatie te vinden die niet gestuurd
        wordt door een verkooppraatje. Veel van de zogenaamd ‘gratis’ hulp blijkt uiteindelijk een supplement of
        coachtraject te willen verkopen. Het voelt zelden oprecht. Eerder manipulatief. Zakkenvullen op andermans
        problemen en onzekerheden.</p>
    <p>Met deze website wil ik daar verandering in brengen. Geen wondermiddelen, geen vage trucs, geen verborgen
        marketing. Alleen de rode draad: eerlijke, toepasbare kennis waar je echt iets aan hebt. Je lichaam is een
        weerspiegeling van je leefstijl. Eet, beweeg en leef als de persoon die je wilt worden. Ik ga je dan ook niet
        vertellen wat je moet eten, dat bepaal je helemaal zelf. VoedIQ is er om je daarbij te helpen — zonder
        winstoogmerk, maar met oprechte intentie.</p>


    <p class="text-2xl font-bold text-center py-20">Ik wens je veel succes met jouw doelen en hoop dat deze website iets
        voor
        je kan
        betekenen! - Quincy</p>

    <button class="btn btn-primary btn-wide mx-auto flex" [routerLink]="'/home'">Terug naar de
        homepage</button>



</div>