<div class="flex flex-col lg:flex-row justify-center gap-3 relative">
    <!-- Activity Search Column -->
    <div class="flex-col flex w-full relative" (click)="stopPropagation($event)">
        <label for="activitySearch" class="label text-white label-text">Kies een activiteit</label>

        <div class="flex-row flex">
            <input class="input w-full" id="activitySearch" [(ngModel)]="searchTerm" (input)="filterActivities()"
                (focus)="dropdownOpen = true" autocomplete="off" placeholder="Typ om te zoeken...">
            <button class="btn btn-sm btn-primary h-10" (click)="clearInput()">
                <span class="icon-[solar--trash-bin-trash-bold] size-5 flex-shrink-0 bg-white"></span>
            </button>
        </div>

        <!-- Dropdown -->
        <div *ngIf="dropdownOpen && filteredActivities.length > 0"
            class="absolute top-full left-0 w-full bg-white max-h-96 overflow-y-auto border-4 border-primary rounded z-50">
            <ul>
                <li *ngFor="let activity of filteredActivities"
                    class="p-2 border-y-2 border-secondary cursor-pointer hover:bg-gray-200"
                    (click)="selectActivity(activity); sendActivityData(); dropdownOpen = false">
                    {{ activity.Description }}
                </li>
            </ul>
        </div>
    </div>

    <!-- Duration Column -->
    <div class="flex-col">
        <div>
            <label for="duration" class="label label-textfont-bold text-sm text-white">{{ timeUnit }}</label>
            <div class="flex flex-col md:flex-row md:space-x-2 space-y-2 md:space-y-0">
                <!-- Duur in uren -->
                <div class="input-group max-w-md" data-input-number>
                    <input class="input pr-0" type="number" [(ngModel)]="durationHours" (input)="sendActivityData()"
                        min="0" aria-label="Aantal uren" data-input-number-input />
                    <span class="input-group-text text-xs">u.</span>
                    <span class="input-group-text gap-1">
                        <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                            aria-label="Decrement button" (pointerdown)="startAdjusting('durationHours', -1, 0); "
                            (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                            <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                            aria-label="Increment button" (pointerdown)="startAdjusting('durationHours', 1, 0)"
                            (pointerup)="stopAdjusting();" (pointerleave)="stopAdjusting()">
                            <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                        </button>
                    </span>
                </div>

                <!-- Duur in minuten -->
                <div class="input-group max-w-md" data-input-number>
                    <input class="input pr-0" type="number" [(ngModel)]="durationMinutes" (input)="sendActivityData()"
                        min="0" aria-label="Aantal minuten" data-input-number-input />
                    <span class="input-group-text text-xs">min.</span>
                    <span class="input-group-text gap-1">
                        <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                            aria-label="Decrement button" (pointerdown)="startAdjusting('durationMinutes', -1, 0)"
                            (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                            <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                            aria-label="Increment button" (pointerdown)="startAdjusting('durationMinutes', 1,0 )"
                            (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                            <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>