<div class="flex flex-col  bg-primary/65 border-4 border-secondary rounded-xl">
    <!-- Scrollbare container -->
    <div
        class="flex-grow overflow-auto  rounded-lg p-4  min-h-[30vh] max-h-[50vh] scrollbar-thin scrollbar-thumb-primary">
        <div *ngFor="let activity of activities; let i = index" class="border border-gray-300 rounded-lg p-4 mb-2">

            <div class="flex flex-row justify-between">
                <small class="text-white">Activiteit {{ i + 1 }}</small>
                <button class="btn btn-error icon-[solar--close-square-bold] bg-[#751419] " (click)="removeActivity(i)">
                </button>
            </div>

            <app-activity-input (activityData)="handleActivityData(i, $event)"></app-activity-input>
        </div>
    </div>

    <!-- Knop buiten de scrollbare container -->
    <div
        class="flex flex-col md:flex-row justify-center p-4 border-t-2 bg-primary/40 rounded border-secondary gap-3 mt-4">
        <div class="">
            <button class="btn btn-primary w-full sm:w-auto rounded-xl text-white " (click)="addActivity()">
                <span class="icon-[solar--add-square-bold] size-6 bg-white"></span>Activiteit toevoegen
            </button>
        </div>
        <div class="">
            <button class="btn  btn-primary w-full sm:w-auto rounded-xl text-white " (click)="calculatePal()">
                <span class="icon-[solar--calculator-bold] size-6 flex-shrink-0 bg-white"></span>Bereken PAL
            </button>
        </div>
    </div>
</div>
<div class="flex p-4 bg-primary/75 rounded-xl mt-4 border-4 border-secondary justify-center"
    *ngIf=" calculatePalValue !=''">
    <div class=" w-3/4 ">
        <h1 class="text-2xl text-center text-white font-bold">PAL-waarde: {{ calculatePalValue }}</h1>

    </div>
</div>
<div class="flex p-4 bg-primary/65 rounded-xl mt-4 border-4 border-secondary justify-center"
    *ngIf=" calculatePalValue ==''">
    <div class=" mx-auto w-3/4 ">
        <h1 class="text-2xl text-center text-white font-bold">PAL-waarde: nog niet berekend!</h1>
    </div>
</div>