<h1 class="text-xl lg:text-3xl mb-4 p-4 font-bold text-center bg-primary rounded-2xl text-white py-2">
    Wat is een dieet?
</h1>
<img src="cursus_doelgericht.svg" alt="foto met afvallen" class="lg:w-1/2 mx-auto my-5 px-5 order-1 lg:order-1 " />
<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <p class="text-base text-justify">
            Het woord 'dieet' heeft voor veel mensen een negatieve lading, vaak omdat het gekoppeld wordt aan afvallen
            of tijdelijke voedingsrestricties.
            Maar een dieet is eigenlijk alles wat je eet. Het is je dagelijkse eetpatroon, de keuze van
            voedingsmiddelen, hoe je eet en hoeveel je eet.
            Een dieet is dus veel breder dan alleen een tijdelijke oplossing om gewicht te verliezen. Het woord "dieet"
            zal vaak gebruikt worden op VoedIQ en gaat dan dus niet altijd om afvallen!
        </p>

        <app-info-block type="fact"
            content="Wist je dat het woord 'dieet' oorspronkelijk uit het Grieks komt en 'levensstijl' betekent?
      Het heeft dus eigenlijk niets te maken met restricties of gewichtsverlies, maar gaat over hoe je je levensstijl vormgeeft door wat je eet!">
        </app-info-block>

        <div class="divider divider-accent"></div>

        <h2 class="text-xl font-semibold">Dieetvormen</h2>
        <p class="text-base text-justify">
            Een gebalanceerd dieet is een dieet dat ervoor zorgt dat je voldoende van alle voedingsstoffen binnenkrijgt,
            in de juiste verhoudingen.
            Dit ondersteunt je algehele gezondheid en voorziet je lichaam van de nodige energie, vitamines, mineralen en
            andere stoffen.
        </p>

        <p class="text-base text-justify">
            Er zijn talloze eetstrategieën (dieetschema’s) die je kunt volgen, afhankelijk van je gezondheidsdoelen,
            levensstijl of voorkeuren. Enkele populaire voorbeelden:
        </p>

        <ul class="list-disc list-inside text-base">
            <li><strong>Mediterrane dieet:</strong> Veel groenten, fruit, volkorenproducten, vis en gezonde vetten zoals
                olijfolie.</li>
            <li><strong>Veganisme:</strong> Geen dierlijke producten, focus op plantaardige eiwitten en voedingsstoffen.
            </li>
            <li><strong>Intermittent Fasting:</strong> Eet binnen een tijdsvenster (bijv. 8 uur per dag), de rest vast
                je.</li>
            <li><strong>Ketogeen dieet:</strong> Koolhydraatarm, lichaam gebruikt vetten als primaire energiebron.</li>
        </ul>

        <p class="text-base text-justify">
            Let wel: ook al zijn deze diëten populair, een gebalanceerd dieet blijft essentieel voor iedereen.
            Bijvoorbeeld: bij een ketogeen dieet kan het lastig zijn om voldoende vezels binnen te krijgen, en bij
            veganisme kun je te weinig B-vitamines binnenkrijgen.
        </p>

        <div class="divider divider-accent"></div>
        <app-info-block type="story"
            content="De Britse zanger Peter Andre besloot eens een dag lang alleen maar bananen te eten.
      Het leek onschuldig, maar door de enorme hoeveelheid bananen kreeg hij uiteindelijk een kaliumvergiftiging en moest hij naar het ziekenhuis!
      Dit laat maar weer zien hoe belangrijk een gebalanceerd dieet is. Zelfs gezonde voedingsmiddelen kunnen in extreme hoeveelheden schadelijk zijn!">
        </app-info-block>
    </div>

</div>