<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    1.1 Definitie van Voeding
</h1>

<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-col lg:w-1/2 gap-3 order-2 lg:order-1">
                <h1 class="text-2xl font-bold mt-10">Wat is voeding en voedsel?</h1>

                <p class="text-base text-justify">
                    Voeding omvat alle stoffen die het lichaam nodig heeft om te functioneren, te groeien en gezond te
                    blijven.
                    Dit omvat de macronutriënten (koolhydraten, eiwitten, vetten) en de micronutriënten (vitamines,
                    mineralen, spoorelementen).
                    Ook mag vocht niet vergeten worden!
                </p>

                <p class="text-base text-justify">
                    Voeding is een primaire levensbehoefte. Dat betekent dat zonder voeding het lichaam niet kan
                    overleven.
                    Het voorziet ons van energie, ondersteunt groei en herstel en helpt bij de werking van alle
                    lichaamsprocessen.
                    Goede voeding draagt bij aan een goede gezondheid, terwijl een tekort of onevenwichtig dieet kan
                    leiden tot problemen.
                </p>

                <p class="text-base text-justify">
                    Voedsel is of zijn de producten die we consumeren. Zoals je je waarschijnlijk al bewust bent,
                    is niet iedere vorm van voedsel hetzelfde. De voedingstoffen waaruit een product is opgebouwd
                    verschillen dan ook veel. Een appel heeft een andere voedingswaarde dan bijvoorbeeld een ei.
                </p>

            </div>
            <img src="cursus_gezond.svg" alt="foto met voeding"
                class="lg:w-1/2 mx-auto mt-5 px-5 order-1 lg:order-1 " />



        </div>
    </div>

    <div class="divider divider-accent lg:my-20"></div>

    <app-quiz-question [id]="0" [explanation]="true" [question]="voedingsvraag">
    </app-quiz-question>
</div>