<div class="flex flex-col bg-primary/65 border-4 border-secondary rounded-xl p-4 items-center">
    <!-- BMR input met plus- en min-knoppen -->

    <div class="mb-4">
        <label class="label text-white">Basale Metabolisme (BMR):</label>
        <div class="input-group max-w-sm" data-input-number>
            <input class="input" type="text" [(ngModel)]="bmr" data-input-number-input />
            <span class="input-group-text gap-3">
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Decrement button" (pointerdown)="startAdjusting($event, 'bmr', -10)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                </button>
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Increment button" (pointerdown)="startAdjusting($event, 'bmr', 10)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
        <button class="btn btn-secondary mt-2 " (click)="navigateToBmr()">
            Ik weet mijn BMR niet
        </button>
    </div>

    <!-- PAL input met plus- en min-knoppen -->
    <div class="mb-4">
        <label class="label text-white">Activiteitsniveau (PAL-waarde):</label>
        <div class="input-group max-w-sm" data-input-number>
            <input class="input" type="text" [(ngModel)]="pal" data-input-number-input />
            <span class="input-group-text gap-3">
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Decrement button" (pointerdown)="startAdjusting($event, 'pal', -0.1)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                </button>
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Increment button" (pointerdown)="startAdjusting($event, 'pal', 0.1)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
        <button class="btn btn-secondary mt-2" (click)="navigateToPal()">
            Ik weet mijn PAL-waarde niet
        </button>
    </div>

    <!-- Bereken TDEE knop -->
    <button class="btn btn-primary font-bold text-white w-1/2" (click)="calculateTDEE()">
        Bereken TDEE
    </button>
</div>

<!-- Resultaatcontainer onder de hoofdcontainer -->
<div class="flex p-4 bg-primary/65 border-4 border-secondary rounded-xl justify-center mt-4">
    <div class="w-3/4">
        <h1 *ngIf="isVisible" class="text-2xl text-center text-white font-bold">Dagelijkse kcal behoefte: {{ tdee }}
            kcal</h1>
        <h1 *ngIf="!isVisible" class="text-2xl text-center text-white font-bold">
            Resultaat nog niet berekend!
        </h1>
    </div>
</div>