<div class="flex flex-col bg-primary/80 rounded-xl items-center">
    <div class="m-4">
        <label class="label text-white">Basale Metabolisme (BMR):</label>
        <div class="input-group max-w-sm" data-input-number>
            <input class="input" type="text" [(ngModel)]="bmr" data-input-number-input />
            <span class="input-group-text gap-3">
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Decrement button" (pointerdown)="startAdjusting('bmr', -10, 0)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                </button>
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Increment button" (pointerdown)="startAdjusting('bmr', 10, 0)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
    </div>

    <!-- PAL input met plus- en min-knoppen -->
    <div class="m-4">
        <label class="label text-white">Activiteitsniveau (PAL-waarde):</label>
        <div class="input-group max-w-sm" data-input-number>
            <input class="input" type="text" min="0" [(ngModel)]="pal" data-input-number-input />
            <span class="input-group-text gap-3">
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Decrement button" (pointerdown)="startAdjusting('pal', -0.1, 1)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                </button>
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Increment button" (pointerdown)="startAdjusting('pal', 0.1, 1)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
    </div>

    <!-- Bereken TDEE knop -->
    <div class="flex w-full md:flex-row justify-center p-4  bg-primary/80 rounded-xl  gap-3 mt-4">
        <button class="btn bg-warning/80 text-white" (click)="calculateTDEE(); scrollToElement('resulttdee')">
            <span class="icon-[solar--calculator-bold] size-6 flex-shrink-0 bg-white"></span>Bereken
        </button>

    </div>

</div>

<!-- Resultaatcontainer onder de hoofdcontainer -->
<div id="resulttdee" class="flex p-4 bg-primary   rounded-xl justify-center mt-4">
    <div class="w-3/4">
        <div *ngIf="isVisible">
            <h1 class="text-2xl text-center text-white font-bold">TDEE: <span class="text-secondary">{{ tdee }}</span>
                kcal</h1>
            <div class="flex flex-col md:w-1/4 md:mx-auto">
                <button (click)="copyToClipboard(tdee!)"
                    class="ml-2 p-2 btn bg-blue-400 hover:bg-blue-800 text-white rounded-lg mt-2">
                    <span *ngIf="!copied" class="icon-[solar--clipboard-linear] size-6"></span>
                    <span *ngIf="copied" class="icon-[solar--check-square-bold] size-6 bg-secondary"></span>
                    <span *ngIf="!copied">Kopieer</span>
                    <span *ngIf="copied">Hebbes!</span>
                </button>
            </div>
        </div>

        <h1 *ngIf="!isVisible" class="text-2xl text-center text-white font-bold">
            Resultaat nog niet berekend!
        </h1>
    </div>
</div>