<div class="flex flex-col bg-primary/65 border-4 border-secondary rounded-xl items-center">
    <!-- BMR input met plus- en min-knoppen -->
    <h1 class="text-2xl text-center text-white font-bold my-4">Dagelijkse caloriebehoefte Calculator</h1>
    <div class="mb-4">
        <label class="label text-white">Basale Metabolisme (BMR):</label>
        <div class="input-group max-w-sm" data-input-number>
            <input class="input" type="text" [(ngModel)]="bmr" data-input-number-input />
            <span class="input-group-text gap-3">
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Decrement button" (pointerdown)="startAdjusting('bmr', -10, 0)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                </button>
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Increment button" (pointerdown)="startAdjusting('bmr', 10, 0)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
    </div>

    <!-- PAL input met plus- en min-knoppen -->
    <div class="mb-4">
        <label class="label text-white">Activiteitsniveau (PAL-waarde):</label>
        <div class="input-group max-w-sm" data-input-number>
            <input class="input" type="text" min="0" [(ngModel)]="pal" data-input-number-input />
            <span class="input-group-text gap-3">
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Decrement button" (pointerdown)="startAdjusting('pal', -0.1, 1)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                </button>
                <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                    aria-label="Increment button" (pointerdown)="startAdjusting('pal', 0.1, 1)"
                    (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                    <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                </button>
            </span>
        </div>
    </div>

    <!-- Bereken TDEE knop -->
    <div
        class="flex flex-col w-full md:flex-row justify-center p-4 border-t-2 bg-primary/40 rounded border-secondary gap-3 mt-4">
        <button class="btn btn-primary text-white" (click)="calculateTDEE()">
            <span class="icon-[solar--calculator-bold] size-6 flex-shrink-0 bg-white"></span>Bereken
        </button>
    </div>

</div>

<!-- Resultaatcontainer onder de hoofdcontainer -->
<div class="flex p-4 bg-primary/65 border-4 border-secondary rounded-xl justify-center mt-4">
    <div class="w-3/4">
        <h1 *ngIf="isVisible" class="text-2xl text-center text-white font-bold">Dagelijkse kcal behoefte: {{ tdee }}
            kcal</h1>
        <h1 *ngIf="!isVisible" class="text-2xl text-center text-white font-bold">
            Resultaat nog niet berekend!
        </h1>
    </div>
</div>