<!-- Hele card grayed out als disabled -->
<div [class.opacity-60]="disabled" [class.pointer-events-none]="disabled"
    class="card group max-w-[300px] shadow-xl mx-4 lg:mx-2 shadow-gray-400 flex flex-col h-full">

    <figure class="h-48 w-full overflow-hidden p-4">
        <img [src]="imageUrl" alt="Course Image"
            class="h-full w-full object-contain transition-transform duration-500 group-hover:scale-110" />
    </figure>

    <div class="card-body flex flex-col flex-grow">
        <h5 class="card-title mb-2.5 flex-grow break-words">{{ title }}</h5>
        <p class="mb-6 text-base">{{ description }}</p>

        <div class="card-actions mt-auto">
            <!-- Knop met routerLink (als beschikbaar), disabled indien nodig -->
            <button *ngIf="linkUrl" [routerLink]="!disabled ? linkUrl : null"
                class="btn btn-primary lg:btn-wide mx-auto" [disabled]="disabled">
                {{ buttonText }}
            </button>

            <!-- Normale knop zonder link, ook disablebaar -->
            <button *ngIf="!linkUrl" class="btn btn-primary lg:btn-wide mx-auto" [disabled]="disabled">
                {{ buttonText }}
            </button>
        </div>
    </div>
</div>