<h1 class="text-xl lg:text-3xl mb-4 p-4 font-bold text-center bg-primary rounded-2xl text-white py-2">
    1.4 Extra aandacht voor water
</h1>

<img src="water.svg" alt="Illustratie van een lichaam met waterbalans"
    class="lg:w-1/2 mx-auto my-5 order-1 lg:order-1" />

<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">


        <p class="text-base text-justify font-semibold">
            Waarom water zo belangrijk is
        </p>

        <p class="text-base text-justify">
            Water is misschien wel het meest onderschatte onderdeel van gezonde voeding. Ons lichaam bestaat voor meer
            dan de helft uit water, en vrijwel elk proces in je lichaam heeft het nodig. Denk daarbij aan het reguleren
            van je temperatuur tot het
            transporteren van voedingsstoffen. Te weinig water drinken kan leiden
            tot vermoeidheid, hoofdpijn, verminderde concentratie en zelfs een verhoogd hongergevoel.
        </p>

        <p class="text-base text-justify font-semibold">
            Hoeveel heb je nodig?
        </p>

        <p class="text-base text-justify">
            Een volwassen persoon heeft gemiddeld 1,5 tot 2 liter vocht per dag nodig. Bij warm weer, sporten of veel
            zweten heb je meer nodig. Dit hoeft niet alleen uit water
            te komen. Watervoedende producten zoals fruit dragen ook bij aan het vocht gehalte. Caffeine en alcohol
            werken echter vochtafdrijvend, dus het is verstandig om daar rekening mee te houden. Om deze reden is
            koffie
            of thee dan ook niet de beste keuze om je vochtbalans op peil te houden, hoewel ze wel iets bijdragen aan je
            totale
            vochtinname.
        </p>
        <app-info-block class="my-4" type="tip" content=" Wist je dat dorst vaak wordt verward met honger? Soms denk je dat je iets moet eten, terwijl je lichaam
            eigenlijk behoefte heeft aan vocht.">
        </app-info-block>
        <div class="divider divider-accent lg:my-10"></div>
        <p class="text-base text-justify font-semibold">
            Let op toegevoegde suikers
        </p>

        <p class="text-base text-justify">
            Vruchtensappen, sportdranken en frisdranken bevatten vaak veel suiker en voegen daardoor snel extra
            (loze) calorieën toe aan je dieet. Water en andere calorie arme dranken zijn dus de beste keuze om de
            vochtbalans op peil te houden en
            ongewenst gewichtstoename te voorkomen.
        </p>

        <app-info-block class="my-4" type="tip"
            content="Vind je water saai? Voeg eens schijfjes citroen, komkommer, munt, gember of suikerloze aanmaak ranja toe voor een frisse smaak zonder extra calorieën.">
        </app-info-block>

        <div class="divider divider-accent lg:my-10"></div>


        <app-quiz-question [id]="0" [explanation]="true" [question]="waterVraag"></app-quiz-question>

    </div>
</div>