<h1 class="text-xl lg:text-3xl mb-4 p-4 font-bold text-center bg-primary rounded-2xl text-white py-2">
    3.1 Wat zijn calorieën en joules?
</h1>

<img src="calculator_4.svg" alt="illustratie met actieve mensen" class="lg:w-1/2 mx-auto my-5 order-1 lg:order-1" />

<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">

        <p class="text-base text-justify">
            Calorieën zijn net zoals kilojoules een eenheid van energie. Net zoals dat centimeters aangeven hoe lang
            iets is, geeft een calorie aan hoeveel energie er in onze voeding zit.
            Calorieën zeggen dus niks over hoe gezond of ongezond een voedingsmiddel is. Er is echter wel een
            samenhang: ongezonde voeding is namelijk vaak rijk aan suiker en vet om het lekker te maken. Dit zorgt
            ervoor
            dat je geneigd ben er veel van te eten en dus veel calorieën binnenkrijgt. Vaak is deze voeding ook niet
            heel verzadigend, waardoor je sneller weer honger hebt.
        </p>

        <p class="text-base text-justify">
            Wanneer we te veel calorieën binnenkrijgen, slaat het lichaam dit eerst op als glycogeen. Als deze voorraad
            vol zit, slaat het lichaam de energie op als vet. Gewichtstoename is vaak ongewenst, en daarom worden
            calorieën soms als iets ongezonds of slechts gezien.
        </p>
        <div class="divider divider-accent"></div>

        <h2 class="text-xl font-semibold">Energiewaardes van voedingstoffen</h2>

        <p class="text-base text-justify">
            Verschillende macronutriënten leveren verschillende hoeveelheden energie.
            Hoewel mineralen en vitaminen een rol hebben bij het energiehuishouden van het lichaam, bevatten deze zelf
            geen energie.

            In onderstaande tabel zie je de
            energiewaardes van de drie belangrijkste macronutriënten. Ook staat er in welke voedingsmiddelen deze
            voorkomen.

        </p>
        <div class="w-full rounded-lg pb-2 my-4">
            <div class="overflow-x-auto scrollbar-horizontal">
                <table class="table">
                    <thead>
                        <tr class="bg-primary text-white border-0 ">
                            <th class="rounded-s-lg">Macronutriënt</th>
                            <th>Calorieën per gram</th>
                            <th>Functie en Uitleg</th>
                            <th class="rounded-e-lg">Voorbeelden</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-nowrap">Koolhydraten</td>
                            <td>4 kcal</td>
                            <td>
                                <p>Koolhydraten zijn de voornaamste energiebron voor het lichaam en worden snel
                                    afgebroken tot glucose, de belangrijkste brandstof voor cellen.</p>
                            </td>
                            <td>Volkoren granen, rijst, brood, aardappelen</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Eiwitten</td>
                            <td>4 kcal</td>
                            <td>
                                <p>Eiwitten helpen bij de opbouw en het herstel van spieren en cellen. Ze worden
                                    gebruikt als energiebron wanneer er niet genoeg koolhydraten of vetten beschikbaar
                                    zijn.</p>
                            </td>
                            <td>Vlees, vis, eieren, peulvruchten</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Vetten</td>
                            <td>9 kcal</td>
                            <td>
                                <p>Vetten zijn de meest energierijke macronutriënten en leveren de meeste calorieën per
                                    gram. Ze zijn essentieel voor de opbouw van cellen en het opslaan van energie.</p>
                            </td>
                            <td>Noten, avocado, olijfolie, vette vis</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap text-red-500">Alcohol <span class="text-xs text-red-500">*</span>
                            </td>
                            <td>7 kcal</td>
                            <td>
                                <p>Alcohol levert calorieën, maar het is geen essentieel voedingsmiddel. Het wordt door
                                    het lichaam als een toxine behandeld en heeft geen vitale functie voor de
                                    gezondheid.</p>
                            </td>
                            <td>Wijn, bier, sterke drank</td>
                        </tr>
                    </tbody>
                </table>
                <small><i>*Het lichaam heeft geen alcohol nodig om goed te functioneren.</i></small>
            </div>
        </div>


        <app-info-block class="my-4" type="fact"
            content="Vet bevat de meeste calorieën per gram, maar dat betekent niet automatisch dat je er dik van wordt. Het draait om de totale energiebalans!">
        </app-info-block>




        <div class="divider divider-accent"></div>

        <h2 class="text-xl font-semibold">Hoe verbruikt je lichaam energie?</h2>

        <p class="text-base text-justify">
            Elke activiteit die we doen, van ademen tot sporten, kost energie. Zelfs het verteren van eten kost energie.
            Het lichaam gebruikt energie op vier verschillende manieren:
        </p>
        <ul class="list-disc list-inside text-base flex flex-col justify-center items-start gap-6">
            <li>Rustmetabolisme (BMR - Basal Metabolic Rate): Dit is de energie die je lichaam nodig
                heeft om basisfuncties te doen, zoals ademhalen en je hart laten kloppen, zelfs als je helemaal niet
                beweegt. Het wordt ook wel is ruststofwisseling genoemd.</li>

            <li>Actieve verbranding: Dit is de extra energie die je lichaam verbruikt wanneer je
                beweegt, zoals wandelen, sporten of werken.</li>

            <li>NEAT (Non-Exercise Activity Thermogenesis): Dit is de energie die je verbruikt door
                kleine, vaak onbewuste bewegingen zoals typen, vinger tikken, rondlopen, opstaan van je stoel of andere
                dagelijkse handelingen die geen echte oefening zijn.</li>

            <li>Thermische Effect van Voeding (TEF): Dit is de energie die je lichaam nodig heeft om je
                voedsel te verteren. Sommige voedingsmiddelen, zoals eiwitten, kosten meer energie om te verteren dan
                andere, zoals koolhydraten of vetten.</li>
        </ul>












    </div>
</div>