<div class="container flex flex-col justify-center items-center mx-auto max-w-none">
    <!-- column 1-->
    <div class="w-full flex justify-center background min-h-[30vh] md:min-h-[40vh] m-20 lg:mt-0">
    </div>

    <!-- column 2-->
    <div class="flex flex-col border border-primary p-5 bg-primary/65 rounded-lg shadow-lg m-4 mb-20">
        <div class="px-3">
            <label class="label label-text font-bold" for="number-input-label">Wat is jouw lichaamsgewicht in
                kg?</label>

            <div class="input-group max-w-sm" data-input-number>
                <input class="input" id="number-input-label" type="text" [(ngModel)]="bodyWeight" value="0"
                    data-input-number-input />
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        aria-label="Decrement button" (click)="decrementBodyWeight()">
                        <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        aria-label="Increment button" (click)="incrementBodyWeight()">
                        <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="p-3">
            <app-activity-input (activityData)="handleActivityData($event)"
                timeUnit="Duur in minuten en/of uren"></app-activity-input>
        </div>

        <div class="mx-auto pt-10">
            <button type="button" class="btn btn-primary font-bold hover:text-secondary text-white btn-lg btn-wide"
                (click)="calculateCalories()">Bereken</button>
        </div>

        <div>
            <h1 *ngIf="isVisable" class="text-xl text-white  font-bold text-center py-10 ">{{totalCalories}}
            </h1>
            <h1 *ngIf="!isVisable" class="text-xl text-warning font-bold text-center py-10 "></h1>
        </div>
    </div>
</div>