<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    3.1 Slim eten: waarom timing ook telt
</h1>

<img src="time.svg" alt="Klok en bord" class="mx-auto mb-5 order-1 sm:w-1/2 pt-10" />

<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-col gap-3 order-2 lg:order-1">

                <h3 class="text-lg font-semibold mt-5">Wanneer je eet doet er ook toe</h3>
                <p class="text-base text-justify">
                    Veel mensen richten zich vooral op wat en hoeveel ze eten. Maar <strong>wanneer</strong> je eet
                    kan ook invloed hebben op je energieniveau en honger en daarmee je resultaat.
                    Er is geen magisch tijdstip om vet te verbranden, maar <strong>een slimme planning</strong> kan je
                    helpen je doelen makkelijker vol te houden.
                </p>

                <h3 class="text-lg font-semibold">Waarom timing belangrijk kan zijn</h3>
                <ul class="list-disc list-inside text-base text-justify">
                    <li><strong>Energieverdeling:</strong> Calorieën goed verspreiden voorkomt energiedips en overeten.
                    </li>
                    <li><strong>Honger voorkomen:</strong> Regelmatig eten stabiliseert je bloedsuikerspiegel en
                        voorkomt snaaibuien.</li>
                    <li><strong>Eiwitverdeling:</strong> Eiwitten over de dag verdelen ondersteunt spierbehoud én een
                        vol gevoel.</li>
                </ul>

                <div class="divider divider-accent my-5"></div>

                <h3 class="text-lg font-semibold">Slimme tips voor je eetschema</h3>
                <ul class="list-disc list-inside text-base text-justify">

                    <li>Verwerk eiwitten in al je maaltijden en tussendoortjes — denk aan kip, eieren, yoghurt,
                        peulvruchten of vis.</li>
                    <li>Pas je porties aan op je honger: een grotere lunch en lichtere avondmaaltijd werkt vaak goed.
                    </li>
                    <li>Plan je porties bewust in. Wat eet je in je pauze, en wat als je ’s avonds op de bank zit? Zo
                        voorkom je impulsief eten.</li>
                    <li>Luister naar je voorkeuren: vind je het fijn om kleine tussendoortjes te nemen, of geef je de
                        voorkeur aan enkele grote maaltijden per dag? Kies wat bij jou past.</li>
                    <li>Je kan ook elke 3–4 uur iets kleins om je energieniveau juist stabiel te houden.</li>
                    <li>Je hoeft niet altijd op vaste tijden te eten. Luister naar je lichaam en eet als je honger hebt.
                        Een ontbijt forceren is niet nodig.</li>
                </ul>

                <app-info-block type="tip" class="my-8"
                    content="Een goede timing helpt je om je lichaam en eetlust beter te begrijpen. Eet niet alleen omdat het 'tijd' is, maar omdat je lichaam er baat bij heeft. Denk vooruit en plan je maaltijden slim, zodat je minder impulsief eet.">
                </app-info-block>

                <p class="text-base text-justify font-semibold mt-6">
                    Kortom: de timing van je maaltijden is geen magie, maar wel een strategie. Door op het juiste moment
                    te eten, houd je controle over je energie, honger en keuzes.
                </p>

                <div class="divider divider-accent lg:my-10"></div>
                <h3 class="text-lg font-semibold">Dieet met pauzes: je hoeft niet altijd 'aan' te staan</h3>
                <p class="text-base text-justify">
                    Een gezonde leefstijl betekent niet dat je voortdurend in een calorietekort hoeft te zitten. Sterker
                    nog: voor veel mensen werkt het beter om afvallen in fases te doen. Misschien kies je ervoor om
                    doordeweeks bewuster te eten en in het weekend wat meer ruimte te nemen. Of je hanteert drie van de
                    vier weken per maand een tekort, en neemt één week pauze. Deze flexibele aanpak helpt je mentaal
                    fris te blijven, vergroot de kans dat je het volhoudt, én geeft je lichaam tussendoor de kans om
                    zich aan te passen.
                </p>
                <p class="text-base text-justify">
                    Op dagen waarop je niet aan het diëten bent, betekent dat natuurlijk niet dat je ‘los’ moet gaan.
                    Blijf bewust van je keuzes en eet met aandacht. Richt je op het onderhouden van je gewicht door je
                    caloriebehoefte aan te houden: je eet dan niet in een tekort, maar ook niet erboven. Dit is niet
                    alleen mentaal prettig, maar geeft je lichaam ook rust en stabiliteit. Zo ondersteun je je
                    metabolisme, voorkom je frustrerende plateaus en houd je je progressie op de lange termijn in stand.
                    Het tempo ligt misschien wat lager, maar de kans dat je je doel bereikt — én behoudt — is veel
                    groter.
                </p>


                <div class="divider divider-accent lg:my-10"></div>

                <app-quiz-question [id]="0" [explanation]="true" [question]="timingVraag">
                </app-quiz-question>

            </div>
        </div>
    </div>
</div>