<h1 class="text-xl lg:text-3xl mb-4 p-4 font-bold text-center bg-primary rounded-2xl text-white py-2">
    1.1 Proefles: Basiskennis
</h1>

<img src="calculator_4.svg" alt="illustratie met actieve mensen" class="lg:w-1/2 mx-auto my-5 order-1 lg:order-1" />

<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">

        <h2 class="text-xl font-semibold">Energiewaardes van voedingstoffen</h2>

        <p class="text-base text-justify">
            Verschillende macronutriënten leveren verschillende hoeveelheden energie.
            Hoewel mineralen en vitaminen een rol hebben bij het energiehuishouden van het lichaam, bevatten deze zelf
            geen energie.

            In onderstaande tabel zie je de
            energiewaardes van de drie belangrijkste macronutriënten. Ook staat er in welke voedingsmiddelen deze
            voorkomen.

        </p>
        <div class="w-full rounded-lg pb-2 my-4">
            <div class="overflow-x-auto scrollbar-horizontal">
                <table class="table">
                    <thead>
                        <tr class="bg-primary text-white border-0 ">
                            <th class="rounded-s-lg">Macronutriënt</th>
                            <th>Calorieën per gram</th>
                            <th>Functie en Uitleg</th>
                            <th class="rounded-e-lg">Voorbeelden</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-nowrap">Koolhydraten</td>
                            <td>4 kcal</td>
                            <td>
                                <p>Koolhydraten zijn de voornaamste energiebron voor het lichaam en worden snel
                                    afgebroken tot glucose, de belangrijkste brandstof voor cellen.</p>
                            </td>
                            <td>Volkoren granen, rijst, brood, aardappelen</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Eiwitten</td>
                            <td>4 kcal</td>
                            <td>
                                <p>Eiwitten helpen bij de opbouw en het herstel van spieren en cellen. Ze worden
                                    gebruikt als energiebron wanneer er niet genoeg koolhydraten of vetten beschikbaar
                                    zijn.</p>
                            </td>
                            <td>Vlees, vis, eieren, peulvruchten</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Vetten</td>
                            <td>9 kcal</td>
                            <td>
                                <p>Vetten zijn de meest energierijke macronutriënten en leveren de meeste calorieën per
                                    gram. Ze zijn essentieel voor de opbouw van cellen en het opslaan van energie.</p>
                            </td>
                            <td>Noten, avocado, olijfolie, vette vis</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap text-red-500">Alcohol <span class="text-xs text-red-500">*</span>
                            </td>
                            <td>7 kcal</td>
                            <td>
                                <p>Alcohol levert calorieën, maar het is geen essentieel voedingsmiddel. Het wordt door
                                    het lichaam als een toxine behandeld en heeft geen vitale functie voor de
                                    gezondheid.</p>
                            </td>
                            <td>Wijn, bier, sterke drank</td>
                        </tr>
                    </tbody>
                </table>
                <small><i>*Het lichaam heeft geen alcohol nodig om goed te functioneren.</i></small>
            </div>
        </div>


        <app-info-block class="my-4" type="fact"
            content="Vet bevat de meeste calorieën per gram, maar dat betekent niet automatisch dat je er dik van wordt. Het draait om de totale energiebalans!">
        </app-info-block>





        <div class="divider divider-accent"></div>










    </div>

    <div class="flex flex-col mb-10">
        <div class="flex flex-col gap-3">


            <h2 class="text-xl font-semibold mt-4">Belangrijke onderdelen van een voedseletiket:</h2>

            <p class="text-base text-justify">
                Een voedseletiket vertelt je precies wat er in een product zit. Het helpt je om bewustere keuzes te
                maken op
                basis van ingrediënten en voedingswaarden.
            </p>

            <ul class="list-disc list-inside text-base flex flex-col gap-4 mt-2">
                <li>
                    <strong>Ingrediëntenlijst:</strong> De ingrediënten staan op volgorde van hoeveelheid. Het eerste
                    ingrediënt is dus het meest aanwezig. Let goed op suiker, vet en bewerkte toevoegingen!
                </li>
                <li>
                    <strong>Voedingswaarden:</strong> Hier zie je hoeveel calorieën, vetten, koolhydraten, suikers,
                    vezels
                    en eiwitten er in 100 gram of per portie zitten.
                </li>
                <li>
                    <strong>Portiegrootte:</strong> Let op: wat als ‘één portie’ wordt aangegeven, is niet altijd wat
                    jij
                    eet. Een klein zakje chips lijkt onschuldig, tot je beseft dat je de hele zak eet in plaats van ‘één
                    portie’.
                </li>
                <li>
                    <strong>Nutri-Score:</strong> Een kleurcode en letter (van A – groen tot E – rood) die laat zien hoe
                    gezond een product is binnen zijn categorie. Let op: een pizza met score A is gezonder dan andere
                    pizza’s, maar niet per se gezonder dan een bakje muesli met score B.
                </li>
            </ul>
            <img src="voedingsetiket.svg" alt="Voedseletiket illustratie" class="lg:w-3/4 mx-auto my-5" />
            <app-info-block class="my-4" type="tip"
                content="Check altijd de ingrediëntenlijst en de voedingswaarden. Laat je niet misleiden door slimme marketing!">
            </app-info-block>
        </div>
    </div>

    <div class="divider divider-accent"></div>
    <div class="flex flex-col mb-10">
        <div class="flex flex-col gap-3">
            <h2 class="text-xl font-semibold mt-4">E-Nummers</h2>
            <p class="text-base text-justify">
                E-nummers zijn toevoegingen aan voeding die de houdbaarheid, kleur, smaak of structuur verbeteren. Ze
                zorgen
                ervoor
                dat producten langer goed blijven, waardoor supermarkten minder voedsel hoeven weg te gooien en wij niet
                dagelijks
                boodschappen hoeven te doen om verse producten in huis te hebben. Daarnaast moet voeding er
                aantrekkelijk uitzien en goed smaken, want
                anders wordt
                het niet gegeten noch gekocht.
            </p>

            <p class="text-base text-justify">
                Sommige mensen zijn huiverig voor E-nummers, maar ze zijn goedgekeurd en veilig bevonden door de
                Europese
                Voedselveiligheidsautoriteit (EFSA). Vaak associëren mensen E-nummers met niet-natuurlijke stoffen,
                terwijl
                veel E-nummers
                juist afkomstig zijn uit natuurlijke bronnen. Zo is E300 simpelweg vitamine C, en komt E160a
                (bètacaroteen)
                voor in wortels
                en paprika’s.
            </p>

            <p class="text-base text-justify">
                Voorbeelden van veelvoorkomende E-nummers:
            </p>

            <ul class="list-disc list-inside text-base flex flex-col gap-4 mt-2">
                <li><strong>E100–E199:</strong> Kleurstoffen (bijv. bètacaroteen, E160a, dat wortels hun oranje kleur
                    geeft).</li>
                <li><strong>E200–E299:</strong> Conserveermiddelen (bijv. sorbinezuur, E200, voorkomt bederf).</li>
                <li><strong>E300–E399:</strong> Antioxidanten (bijv. ascorbinezuur, E300, ook bekend als vitamine C).
                </li>
            </ul>

            <app-quiz-question [id]="0" [explanation]="true" [question]="{
            question: 'Wat is waar over E-nummers?',
            options: [
                { label: 'A', text: 'Alle E-nummers zijn schadelijk voor je gezondheid.', isCorrect: false, explanation: 'Dit is een mythe! De meeste E-nummers zijn veilig en sommige komen zelfs van nature in voeding voor.' },
                { label: 'B', text: 'De meeste E-nummers zijn veilig en komen van nature in voeding voor.', isCorrect: true, explanation: 'Dit is juist! De meeste E-nummers zijn veilig en zijn goedgekeurd door de EFSA. Alleen bij hoge inname kunnen sommige nadelen hebben.' }
            ]
        }">
            </app-quiz-question>

        </div>
    </div>
</div>