<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    3.2 Plateaus: wat als je resultaat ineens stilvalt?
</h1>

<img src="plateau.svg" alt="Berg en plateau" class="mx-auto mb-5 order-1 sm:w-1/2 pt-10" />

<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-col gap-3 order-2 lg:order-1">

                <h3 class="text-lg font-semibold mt-5">Stilstand is niet het einde</h3>
                <p class="text-base text-justify">
                    Je bent goed op weg, de kilo’s vliegen eraf… en dan ineens: niets meer. De weegschaal blijft hangen.
                    Frustrerend? Zeker. Maar ook volkomen normaal. Plateaus horen bij afvallen. Je lichaam is slim en
                    past zich aan.
                    Het goede nieuws: je kunt dit doorbreken.
                </p>

                <h3 class="text-lg font-semibold">Waarom komt een plateau voor?</h3>
                <p class="text-base text-justify">
                    Een plateau ontstaat vaak omdat je lichaam minder energie verbruikt naarmate je afvalt. Met minder
                    lichaamsgewicht
                    daalt je basismetabolisme, waardoor je ook minder calorieën verbrandt. Als je daarnaast spiermassa
                    bent kwijtgeraakt,
                    verlaagt dat je energieverbruik nog verder, omdat spieren veel energie vragen. Wat eerder een
                    calorie-tekort was, kan
                    daardoor ongemerkt neutraal of zelfs te hoog zijn geworden.
                </p>

                <p class="text-base text-justify">
                    Bovendien zal je onbewust minder bewegen. Je lichaam gaat op de rem staan. Het gaat hier met name om
                    (onbewuste) activiteiten zoals
                    zoals:

                </p>
                <ul class="list-disc list-inside text-base text-justify">
                    <li>rondlopen in huis</li>
                    <li>minder lang staan</li>
                    <li>traplopen</li>
                    <li>boodschappen doen</li>
                    <li>huishoudelijke klusjes</li>
                    <li>tikken met je voet of wiebelen op je stoel</li>
                </ul>

                <p class="text-base text-justify">
                    Dit zijn allemaal kleine dingen die je niet altijd doorhebt, maar die samen een groot verschil
                    maken.
                    Je lichaam
                    probeert zo energie te besparen. Dit is een natuurlijk proces, maar het kan wel frustrerend zijn als
                    je net zo goed
                    bezig bent met je voeding en training.
                </p>

                <div class="divider divider-accent my-5"></div>
                <h3 class="text-lg font-semibold">Is het wel echt een plateau?</h3>
                <p class="text-base text-justify">
                    Voordat je in de actiestand schiet, is het belangrijk om jezelf af te vragen: is dit wel echt een
                    plateau of boek je langzamer progressie dan voorheen? Eén of enkele dagen zonder resultaat betekend
                    nog niets. Je kunt niet verwachten dat je elke week
                    een exact dezelfde hoeveelheid vetmassa verliest. Dat is niet realistisch. Je lichaam heeft tijd
                    nodig om zich aan te passen.
                    Je gewicht schommelt continu door factoren als vocht, darmvulling en hormonale
                    schommelingen. Pas als je <strong>minstens twee weken</strong>
                    geen enkele verandering ziet in gewicht, omvang of andere meetbare vooruitgang, ondanks dat je
                    consistent blijft met je voeding en beweging,
                    kun je spreken van
                    een plateau.
                    Kijk dan niet alleen naar de weegschaal, maar ook naar bijvoorbeeld kleding, progressiefoto’s of hoe
                    je je voelt.
                    Soms boek je wél resultaat, maar zie je het niet direct in cijfers terug.
                </p>

                <div class="divider divider-accent my-5"></div>
                <h3 class="text-lg font-semibold">Wat kun je eraan doen?</h3>
                <p class="text-base text-justify">
                    Gelukkig kun je actie ondernemen. Vaak betekent een plateau simpelweg dat je totale dagelijkse
                    energieverbruik (TDEE) is veranderd.
                    Wat eerst een tekort was, is dat nu misschien niet meer. Doordat je bent afgevallen, verbruikt je
                    lichaam minder energie — en dat vraagt om een nieuwe TDEE berekening (zie les 2.1).
                    Stel op basis daarvan een aangepast nieuw tekort in, zodat je weer vooruitgang boekt. Daarnaast
                    helpt het
                    om je dagelijkse beweging op te voeren:
                    extra stappen zetten, wat meer cardio toevoegen of krachttraining doen ondersteunt niet alleen het
                    energieverbruik, maar ook spierbehoud of -opbouw.
                    Ook variatie in je training houdt je stofwisseling actief én maakt het proces leuker. Tot slot kan
                    het waardevol zijn om af en toe een zogenoemde refeed-dag in te bouwen of zelfs een refeed week:
                    een dag of week waarop je bewust wat meer eet, vooral koolhydraten, om je hormonen en stofwisseling
                    weer een
                    seintje te geven. Met meer eten wordt evenveel calorieën als TDEE bedoelt en niet dat je boven je
                    caloriebehoefte
                    gaat eten en weer aankomt.
                </p>


                <app-info-block type="tip" class="my-8"
                    content="Een plateau betekent niet dat je iets fout doet. Het is een uitnodiging tot aanpassing. Kleine tweaks in beweging, voeding of herstel kunnen het verschil maken.">
                </app-info-block>

                <p class="text-base text-justify font-semibold mt-6">
                    Onthoud: consistentie verslaat frustratie. Een plateau is tijdelijk — jij bepaalt of het een muur
                    wordt of gewoon een drempel.
                </p>

                <div class="divider divider-accent lg:my-10"></div>

                <app-quiz-question [id]="0" [explanation]="true" [question]="plateauVraag">
                </app-quiz-question>

            </div>
        </div>
    </div>
</div>