<div class="flex flex-col bg-primary/80  rounded-xl">

    <!-- Invoervelden -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto p-4">
        <!-- Leeftijd -->
        <div class="col-span-2 lg:col-span-1">
            <label class="text-white">Leeftijd</label>
            <div class="input-group " data-input-number>
                <input class="input" type="number" min="0" [(ngModel)]="age" data-input-number-input />
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        aria-label="Decrement button" (pointerdown)="startAdjusting('age', -1, 0)"
                        (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        aria-label="Increment button" (pointerdown)="startAdjusting('age', 1, 0)"
                        (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- TDEE -->
        <div class="col-span-2 lg:col-span-1">
            <label class="text-white">TDEE (kcal)</label>
            <div class="input-group " data-input-number>
                <input class="input" type="number" min="0" [(ngModel)]="tdee" data-input-number-input />
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        aria-label="Decrement button" (pointerdown)="startAdjusting('tdee', -50, 0)"
                        (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5 flex-shrink-0"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        aria-label="Increment button" (pointerdown)="startAdjusting('tdee', 50, 0)"
                        (pointerup)="stopAdjusting()" (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5 flex-shrink-0"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- Geslacht -->
        <div class="col-span-2 lg:px-60">
            <label class="text-white">Geslacht</label>
            <select class="input w-full" [(ngModel)]="sex">
                <option value="male">Man</option>
                <option value="female">Vrouw</option>
            </select>
        </div>

        <!-- Extra factoren: Alleen voor vrouwen -->


        <!-- Extra factoren: Voor alle geslachten -->
        <div class="col-span-2  mx-auto mt-4">
            <label class="text-white ">Extra factoren (Selecteer alles dat van toepassing
                is)</label>


            <div class="flex flex-col sm:flex-row gap-4 mt-4">
                <div>

                    <div class="flex flex-col gap-4 overflow-x-auto">
                        <div class="flex items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary" id="checkboxInline1"
                                [(ngModel)]="hasDarkSkin" />
                            <label class="label-text text-base text-white" for="checkboxInline1"> Donkere
                                huidskleur </label>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary" id="checkboxInline2"
                                [(ngModel)]="staysIndoors" />
                            <label class="label-text text-base text-white" for="checkboxInline2"> Weinig
                                zonlicht </label>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary" id="checkboxInline3"
                                [(ngModel)]="isVegan" />
                            <label class="label-text text-base text-white" for="checkboxInline3"> Vega/Veganist </label>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary" id="checkboxInline4"
                                [(ngModel)]="takesMedication" />
                            <label class="label-text text-base text-white" for="checkboxInline4"> Medicijngebruik
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="sex == 'female'">
                    <div class="flex flex-col gap-4 overflow-x-auto">
                        <div class="flex  items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary" [(ngModel)]="isPregnant"
                                id="checkboxInline1a" />
                            <label class="label-text text-base text-white" for="checkboxInline1"> Zwanger
                            </label>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary " [(ngModel)]="isPlanningPregnancy"
                                id="checkboxInline2a" />
                            <label class="label-text text-base text-white" for="checkboxInline2"> Zwanger willen
                                worden </label>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary" [(ngModel)]="isBreastfeeding"
                                id="checkboxInline3a" />
                            <label class="label-text text-base text-white" for="checkboxInline3"> Bij
                                borstvoeding </label>
                        </div>
                        <div class="flex items-center gap-2">
                            <input type="checkbox" class="checkbox checkbox-primary" [(ngModel)]="isMenopausal"
                                id="checkboxInline4a" />
                            <label class="label-text text-base text-white" for="checkboxInline4"> Na overgang
                                (postmenopauzaal) </label>
                        </div>
                    </div>
                </div>



            </div>
        </div>


    </div>

    <!-- Bereken knop -->
    <div class="flex flex-col justify-center p-4 bg-primary rounded-xl  gap-3 mt-4">
        <!-- Medicijngebruik waarschuwing -->

        <button class="btn bg-warning/80 text-white  mx-auto"
            (click)="calculate(); calculationDone = true; scrollToElement('micro-result')">
            <span class="icon-[solar--calculator-bold] size-6 flex-shrink-0 bg-white"></span> Bereken
        </button>
        <div *ngIf="takesMedication" class="mt-4 p-4 bg-red-500 rounded-xl">
            <p class="text-white text-center">
                ⚠️ Gebruik je medicijnen? Vraag dan advies aan de huisarts en bekijk de informatie op
                <a target="_blank" rel="noopener noreferrer"
                    href="https://www.ivg-info.nl/gezondheid/bij-medicijngebruik/medicijnen-en-voedingssupplementen-tegelijk-gebruiken/"
                    class="link link-info">IVG</a>.
            </p>
        </div>
    </div>

    <!-- Resultaten: alleen tonen als calculationDone true is -->

</div>
<div id="micro-result" *ngIf="calculationDone" class="flex lg:flex-row p-4 mt-4 justify-center">
    <div class="mx-auto max-w-full">
        <div *ngIf="calculationDone" class="p-4 mt-4">

            <!-- Vitaminen -->
            <h3 class="text-lg font-semibold mt-2 text-center text-white">Vitaminen</h3>
            <div class="w-full rounded-lg pb-2 my-4">
                <div class="overflow-x-auto scrollbar-horizontal">
                    <table class="table w-full text-xs min-w-[400px]">
                        <thead>
                            <tr class="bg-primary text-white border-0">
                                <th class="rounded-s-lg">Vitamine</th>
                                <th>Aanbevolen</th>
                                <th class="rounded-e-lg">Bovengrens</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-secondary/20" *ngFor="let vitamin of vitamins[sex]">
                                <td>{{ vitamin.name }}</td>
                                <td>{{ vitamin.adh }}</td>
                                <td>{{ vitamin.ab }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Mineralen/spoorelementen -->
            <h3 class="text-lg font-semibold mt-2 text-center text-white">Mineralen / Spoorelementen</h3>
            <div class="w-full rounded-lg pb-2 my-4">
                <div class="overflow-x-auto scrollbar-horizontal scrollbar-primary ">
                    <table class="table w-full text-xs min-w-[400px]">
                        <thead>
                            <tr class="bg-primary text-white border-0">
                                <th class="rounded-s-lg">Mineraal</th>
                                <th>Aanbevolen</th>
                                <th class="rounded-e-lg">Bovengrens</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-secondary/20" *ngFor="let mineral of minerals[sex]">
                                <td>{{ mineral.name }}</td>
                                <td>{{ mineral.adh }}</td>
                                <td>{{ mineral.ab }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Suppletieadvies -->
            <div class="mt-4 p-4 bg-primary rounded-xl">
                <h2 class="text-xl text-white font-bold text-center">Suppletie Advies</h2>
                <ul class="text-white text-lg">
                    <li class="border-b mt-3" *ngFor="let supplement of recommendedSupplements">
                        <strong class="text-secondary">{{ supplement.name }}:</strong>
                        {{ supplement.amount }} extra (reden: {{ supplement.reason }})
                    </li>
                </ul>
                <p *ngIf="recommendedSupplements.length === 0" class="text-center text-white">
                    Geen extra suppletie geadviseerd (mits voeding in orde).
                </p>
                <div class="mt-3">
                    <small class="text-white">
                        Advies afkomstig van het
                        <a class="link link-info" target="_blank" rel="noopener noreferrer"
                            href="https://www.voedingscentrum.nl/encyclopedie/vitamines.aspx">VoedingsCentrum</a>
                    </small>
                </div>
            </div>

            <div class="flex flex-col md:mx-auto bg-primary rounded-xl mt-4 p-5">
                <button (click)="copyToClipboard()"
                    class="ml-2 p-2 btn bg-blue-400 hover:bg-blue-800 text-white rounded-lg mt-2">
                    <span *ngIf="!copied" class="icon-[solar--clipboard-linear] size-6"></span>
                    <span *ngIf="copied" class="icon-[solar--check-square-bold] size-6 bg-secondary"></span>
                    <span *ngIf="!copied">Kopieer</span>
                    <span *ngIf="copied">Hebbes!</span>
                </button>
            </div>

        </div>
    </div>
</div>

<div *ngIf="!calculationDone" class="flex p-4 bg-primary rounded-xl mt-4  justify-center">
    <div class="mx-auto w-3/4">
        <h1 class="text-2xl text-center text-white font-bold">Resultaat nog niet berekend!</h1>
    </div>
</div>