<div class="flex flex-col bg-primary/80 pt-4 rounded-xl ">


    <!-- Inputvelden -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-2  mx-auto">
        <!-- Huidig gewicht -->
        <div>
            <label class="text-white">Huidig Gewicht (kg)</label>
            <div class="input-group max-w-sm">
                <input class="input" type="number" [(ngModel)]="weight" min="1">
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('weight', -1, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('weight', 1, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- Lengte -->
        <div>
            <label class="text-white">Lengte (cm)</label>
            <div class="input-group max-w-sm">
                <input class="input" type="number" [(ngModel)]="height" min="1">
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('height', -1, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('height', 1, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- TDEE -->
        <div>
            <label class="text-white">TDEE (kcal)</label>
            <div class="input-group max-w-sm">
                <input class="input" type="number" [(ngModel)]="tdee" min="1">
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('tdee', -50, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('tdee', 50, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- Doelgewicht -->
        <div>
            <label class="text-white">Gewenst Gewicht (kg)</label>
            <div class="input-group max-w-sm">
                <input class="input" type="number" [(ngModel)]="goalWeight" min="1">
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('goalWeight', -1, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('goalWeight', 1, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5"></span>
                    </button>
                </span>
            </div>
        </div>

        <!-- Calorietekort -->
        <div>
            <label class="text-white">Gewenste dagelijkse calorietekort of overschot (kcal)</label>
            <div class="input-group max-w-sm">
                <input class="input" type="number" [(ngModel)]="calorieDeficit" min="1">
                <span class="input-group-text gap-3">
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('calorieDeficit', -50, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--minus] size-3.5"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-soft size-[22px] rounded min-h-0 p-0"
                        (pointerdown)="startAdjusting('calorieDeficit', 50, 1)" (pointerup)="stopAdjusting()"
                        (pointerleave)="stopAdjusting()">
                        <span class="icon-[tabler--plus] size-3.5"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <!-- Bereken knop -->
    <div class="flex flex-col md:flex-row justify-center p-4 bg-primary rounded-b-xl gap-3 mt-4">
        <button class="btn  w-full sm:w-auto rounded-xl bg-warning/80 text-white"
            (click)="calculateWeightLossDuration()">
            <span class="icon-[solar--calculator-bold] size-6 bg-white"></span> Bereken
        </button>
    </div>
</div>

<!-- Resultaten weergeven -->
<div *ngIf="daysToGoal == null" class="mt-4 p-4 bg-primary rounded-xl ">
    <h2 class="text-xl text-white font-bold text-center">Resultaat nog niet berekend!</h2>
</div>

<div *ngIf="daysToGoal !== null" class="mt-4 p-4 bg-primary rounded-xl ">
    <h2 class="text-xl text-white font-bold text-center">Resultaat</h2>
    <p class="text-white text-center border rounded-2xl p-4 mt-4">
        Indien je de {{tdee - calorieDeficit}} kcal per dag aanhoudt, dan zal je in de komende
        <span class="font-bold text-secondary">{{ daysToGoal }}</span> dagen je doelgewicht van
        <span class="font-bold text-secondary">{{ goalWeight }}</span> kg bereiken.
        <br> Dit is een gewichtsverlies van <span class="font-bold text-secondary">{{ weight - goalWeight }}</span> kg.
    </p>

    <p class="text-center lg:mt-2 text-white border rounded-2xl p-4 mt-4">
        Calorie advies:
        <span *ngIf=" adviceColor==='green'">✅ Gekozen calorie tekort of overschot is goed vol te houden</span>
        <span *ngIf=" adviceColor==='orange'">⚠️ Gekozen calorie tekort of overschot is mogelijk lastig vol te
            houden</span>
        <span *ngIf=" adviceColor==='red'">❌ Gekozen calorie tekort of overschot is groot en moeilijk vol te
            houden</span>
    </p>
    <div class=" text-white text-center lg:mt-2 border rounded-2xl p-4 mt-4">
        <p>Doelgewicht BMI klasse: {{ bmiStatus }}
        </p>
        <smalL>Let op! BMI alleen is niet genoeg om te bepalen of je gewicht gezond is.</smalL>
    </div>

</div>