<h1 class=" text-xl mb-4 p-4 lg:text-3xl font-bold text-center bg-primary rounded-2xl text-white ">
    1.2 Waarom hebben we voeding nodig?
</h1>

<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <p class="text-base text-justify">
            We eten niet alleen omdat we honger ervaren. Nee, honger is een signaal van ons lichaam dat het
            voedingsstoffen nodig heeft om goed te functioneren.
            Ons lichaam geeft dit signaal af om ervoor te zorgen dat we voldoende energie en essentiële bouwstoffen
            binnenkrijgen.
            Naast honger spelen ook andere factoren, zoals gewoonte, emoties en sociale situaties, een rol bij ons
            eetgedrag.
            Laten we echter bij de essentie van voeden blijven!
        </p>
        <div class="divider divider-accent"></div>
        <h2 class="text-xl font-semibold mt-3">Energie</h2>
        <p class="text-base text-justify">
            Helaas kunnen wij niet de energie uit het stopcontact halen of net als planten van de zon.
            Nee, wij moeten toch echt eten. Als wij voedsel verteren komt er uiteindelijk energie vrij die ons lichaam
            nodig heeft voor onder andere de volgende processen:
        </p>

        <ul class="list-disc list-inside text-base">
            <li>Het functioneren van organen (hart, longen, hersenen, etc.)</li>
            <li>Dagelijkse fysieke activiteiten zoals lopen, werken en sporten</li>
            <li>De regulering van lichaamstemperatuur</li>
        </ul>

        <app-info-block class="my-5" type="fact"
            content="Je hersenen verbruiken ongeveer 20% van alle energie die je lichaam binnenkrijgt, terwijl de hersenen maar 2% van je lichaamsgewicht zijn! 🧠🔥
      Dit betekent dat zelfs als je fysiek niets doet, je nog steeds energie nodig hebt om na te denken, te leren en je te concentreren. Daarom kun je je moe of prikkelbaar voelen als je te weinig eet!">
        </app-info-block>
        <div class="divider divider-accent"></div>
        <h2 class="text-xl font-semibold">Groeiprocessen</h2>
        <p class="text-base text-justify">
            Vooral in de kindertijd en adolescentie is voeding cruciaal. Het lichaam groeit snel en heeft een verhoogde
            behoefte aan voedingsstoffen zoals eiwitten, calcium en vitamines voor de ontwikkeling van botten, spieren
            en organen.
        </p>
        <div class="divider divider-accent"></div>
        <h2 class="text-xl font-semibold">Herstel en onderhoud</h2>
        <p class="text-base text-justify">
            Het lichaam is constant bezig met het vernieuwen en repareren van cellen. Voedingsstoffen zoals eiwitten en
            mineralen zijn essentieel voor:
        </p>
        <ul class="list-disc list-inside text-base">
            <li>Spierherstel na inspanning</li>
            <li>Genezing van wonden en verwondingen</li>
            <li>Onderhoud van huid, haar en nagels</li>
        </ul>
        <div class="divider divider-accent"></div>
        <h2 class="text-xl font-semibold">Immuniteit en bescherming</h2>
        <p class="text-base text-justify">
            Een gebalanceerd dieet helpt het immuunsysteem te versterken en het risico op ziekten te verkleinen.
            Vitamines zoals C en D, en mineralen zoals zink, spelen hierin een cruciale rol.
        </p>

        <app-info-block class="my-5" type="fact"
            content="70% van je immuunsysteem bevindt zich in je darmen!
      Je darmen bevatten triljoenen bacteriën die samen je darmmicrobioom vormen. Deze bacteriën helpen niet alleen bij de spijsvertering, maar spelen ook een cruciale rol in je afweer tegen ziektes.
      Gezonde voeding met veel vezels, gefermenteerde producten (zoals yoghurt en zuurkool) en diverse groenten kan je darmbacteriën voeden en zo je immuunsysteem versterken!">
        </app-info-block>
    </div>


</div>