<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    2.6 Hoe je echte progressie meet
</h1>
<img src="calculator_5.svg" alt="Weegschaal" class=" mx-auto mb-5 order-1 sm:w-1/2 pt-10" />
<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-col  gap-3 order-2 lg:order-1">
                <h2 class="text-2xl font-bold mt-10">Hoe meet je echte vooruitgang?</h2>
                <p class="text-base text-justify">
                    Het meten van progressie is belangrijk, niet alleen om je doel te behalen, maar ook om gemotiveerd
                    te blijven.
                    Veel mensen raken ontmoedigd door schommelingen op de weegschaal, terwijl die vaak niets zeggen over
                    daadwerkelijk vetverlies.
                    Daarom is het goed om op meerdere manieren naar je vooruitgang te kijken.
                </p>
                <div class="divider divider-accent"></div>
                <h3 class="text-xl font-semibold mt-6">Gebruik de weegschaal slim</h3>
                <p class="text-base text-justify">
                    Het getal op de weegschaal zegt niet alles. Gewicht kan dagelijks fluctueren door factoren als
                    vocht, hormonen, zoutinname en spijsvertering.
                    Als je ervoor kiest om de weegschaal te gebruiken, doe dit dan op een vaste manier. Weeg jezelf
                    bijvoorbeeld elke ochtend na het opstaan, nadat je naar het toilet bent geweest en zonder kleding.
                    Door je gewicht dagelijks op dezelfde manier te meten, kun je een eerlijker beeld krijgen.
                    Noteer je gewicht dagelijks en bereken wekelijks het gemiddelde. Vergelijk vervolgens deze
                    wekelijkse gemiddelden met elkaar.
                    Alleen dan kun je op basis van gewicht conclusies trekken.
                    Als je de weegschaal niet op deze manier gebruikt, is het misschien beter om hem helemaal te
                    vermijden.
                </p>
                <app-info-block type="story" class="mt-8"
                    content="De eigenaar van VoedIQ, Quincy, woog zichzelf elke woensdag om zijn progressie te volgen. Soms was zijn gewicht hoger dan de week ervoor, waardoor hij dacht dat er weer een week geen progressie geboekt was. Later ontdekte hij dat dit vooral door vochtophoping kwam, niet door vettoename. Door dagelijks ’s ochtends na het opstaan te wegen en de wekelijkse gemiddelden te bekijken, kreeg hij een duidelijker beeld van zijn echte vooruitgang. Daarom adviseren we bij VoedIQ om je gewicht slim en consistent te meten, en niet te snel te oordelen op één momentopname."></app-info-block>
                <div class="divider divider-accent"></div>
                <h3 class="text-xl font-semibold mt-6">Maak foto’s van je lichaam</h3>
                <p class="text-base text-justify">
                    Een andere effectieve manier om progressie te volgen is door regelmatig foto’s te maken,
                    bijvoorbeeld elke twee tot vier weken.
                    Omdat je jezelf elke dag in de spiegel ziet, merk je veranderingen vaak niet op.
                    Door foto’s naast elkaar te leggen, kun je wél duidelijk verschil zien in je lichaamsvorm en
                    houding.
                    Dit kan heel motiverend werken, zeker wanneer het gewicht op de weegschaal nauwelijks verandert maar
                    je lichaam wél zichtbaar verandert.
                </p>
                <div class="divider divider-accent"></div>
                <h3 class="text-xl font-semibold mt-6">Gebruik een meetlint en je kleding</h3>
                <p class="text-base text-justify">
                    Vetverlies laat zich niet altijd zien in kilo’s, maar wel in centimeters. Meet daarom ook je taille,
                    heupen, borst en eventueel andere lichaamsdelen.
                    Houd deze metingen bijvoorbeeld eens per maand bij.
                    Zelfs als het gewicht gelijk blijft, kunnen je omtrekken afnemen.
                    Ook je kleding kan veel zeggen. Als broeken losser gaan zitten of shirts minder strak voelen, is dat
                    vaak een duidelijk teken van verandering.
                    Let er wel op dat dit niet komt doordat je kleding per ongeluk op hoge temperatuur is gewassen.
                </p>
                <app-info-block type="tip" class="mt-8"
                    content="Vetverlies zie je niet altijd terug in kilo’s, maar vaak wel in centimeters. Meet daarom regelmatig je taille, heupen en borst. Zelfs als het gewicht hetzelfde blijft, kunnen je omtrekken afnemen. Ook je kleding is een goede graadmeter: als broeken losser zitten of shirts minder strak, betekent dat vaak vooruitgang. Let er wel op dat dit niet door krimp in de was komt!"></app-info-block>

            </div>
        </div>

        <div class="divider divider-accent lg:my-10"></div>

        <app-quiz-question [id]="0" [explanation]="true" [question]="progressieVraag">
        </app-quiz-question>
    </div>