<h1 class="lg:text-3xl text-xl font-bold text-center bg-primary rounded-2xl text-white p-4 mb-4">
    1.1 Het Fundament
</h1>
<img src="cursus_gezond.svg" alt="VoedIQ Logo" class=" mx-auto mb-5 order-1 sm:w-1/2 pt-10" />
<div class="flex flex-col mb-10">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-col  gap-3 order-2 lg:order-1">
                <h1 class="text-2xl font-bold mt-10">Wat bepaalt of je afvalt, aankomt of gelijk blijft?</h1>

                <p class="text-base text-justify">
                    Afvallen (of aankomen) draait in de kern alleen om energiebalans. De verhouding tussen de
                    hoeveelheid
                    energie (calorieën) die je binnenkrijgt via voeding en de hoeveelheid energie die je lichaam
                    verbruikt via. De principes zijn simpel, maar de praktijk is niet makkelijk. Hier onder staan de
                    drie principes die je echt moet weten om af te vallen of aan te komen.
                </p>

                <ul class="list-disc ml-5 text-base text-center my-10 space-y-2">
                    <div><strong class="text-primary text-lg">Energieoverschot:</strong> Je eet meer calorieën dan je
                        verbrandt.
                        Dit zorgt voor
                        gewichtstoename.</div>
                    <div><strong class="text-primary text-lg">Energietekort:</strong> Je eet minder calorieën dan je
                        verbrandt.
                        Dit zorgt voor
                        vetverlies.</div>
                    <div><strong class="text-primary text-lg">Onderhoud:</strong> Je eet ongeveer evenveel als
                        je
                        verbruikt. Dit houdt je
                        gewicht stabiel.</div>
                </ul>



                <p class="text-base text-justify">
                    Een veelvoorkomend misverstand is dat bepaalde producten je dik of slank zouden maken. In
                    werkelijkheid komt gewichtstoename of -afname niet door één specifiek ingrediënt zoals suiker, vet
                    of zetmeel. Je eetpatroon als geheel en de totale calorie-inname daarvan zijn bepalend.
                </p>
                <p class="text-base text-justify">
                    Het is dus niet zo dat je met een bepaald product of dieet ineens gaat afvallen. Het gaat erom dat
                    je
                    een energietekort creëert door minder calorieën binnen te krijgen dan je verbruikt. Ieder dieet is
                    op dit principe gebaseerd. De manier hoe ze dat proberen te bereiken is echter
                    verschillend. Het ene dieet is meer gericht op het beperken van bepaalde voedingsmiddelen, terwijl
                    het andere dieet zich richt op het verhogen van de inname van andere voedingsmiddelen. Het is
                    belangrijk om te begrijpen dat er geen 'magische' oplossing is voor afvallen. Het gaat erom dat je
                    een manier vindt die voor jou werkt en die je op de lange termijn kunt volhouden.
                </p>
                <p class="text-base text-justify"> VoedIQ kan je
                    verklappen dat de makkelijkste manier om af te vallen de manier is waarbij je het minst hoeft aan te
                    passen aan je huidige eetpatroon. Dit is de manier die je het langste volhoudt en dus het
                    meeste
                    resultaat oplevert. Als VoedIQ dan toch de 'magische' oplossing zou vertellen, dan is het
                    truukje om bewust te worden welke voedingsmiddelen jij zou kunnen vervangen in je huidige eetschema.
                    In module 2 gaan we hier verder op in.
                </p>
                <app-info-block class="my-10" type="story" content="Wanneer mensen willen afvallen gaan ze vaak héél gezond eten. Gezonde voeding is echter niet calorieloos en dus is vetverlies niet gegarandeerd.
                    Gezond eten doe je om je lichaam te voorzien van de juiste voedingsstoffen zodat je fit blijft. Wat wel waar is, is dat groenten, fruit, volkoren producten en magere eiwitten honger beter stillen.
                    Toch gegarandeerd het eten ervan niet dat je zal gaan afvallen."></app-info-block>

            </div>
        </div>
    </div>

    <div class="divider divider-accent lg:my-10"></div>

    <app-quiz-question [id]="0" [explanation]="true" [question]="energiebalansVraag">
    </app-quiz-question>
</div>